automation/live-readbacks/n8n/rb-calls-voice-execution.workflow.json
{
  "synced_at": "2026-05-13T18:21:08.130Z",
  "status": "provisional",
  "source": "n8n MCP get_workflow_details",
  "review": "Compare with source-controlled workflow and publish intentionally after review.",
  "workflow": {
    "workflow": {
      "id": "3xJh7hNK0Zl9T4zS",
      "name": "RB Calls Voice Execution",
      "active": true,
      "isArchived": false,
      "versionId": "360489d3-02da-4a84-bfbd-0a0d168054e9",
      "activeVersionId": "360489d3-02da-4a84-bfbd-0a0d168054e9",
      "triggerCount": 1,
      "createdAt": "2026-05-08T19:14:16.851Z",
      "updatedAt": "2026-05-13T17:55:05.334Z",
      "settings": {
        "executionOrder": "v1",
        "availableInMCP": true,
        "binaryMode": "separate"
      },
      "connections": {
        "Every 15 minutes": {
          "main": [
            [
              {
                "node": "Get Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Reviewed Calls": {
          "main": [
            [
              {
                "node": "Loop Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Preflight Call Lock": {
          "main": [
            [
              {
                "node": "Get Call Owner",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Call Owner": {
          "main": [
            [
              {
                "node": "Attach Owner Routing",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Attach Owner Routing": {
          "main": [
            [
              {
                "node": "Preflight Ready To Claim?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Preflight Ready To Claim?": {
          "main": [
            [
              {
                "node": "Claim Call Attempt Lock",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Skip Existing Lock Or Ineligible?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Claim Call Attempt Lock": {
          "main": [
            [
              {
                "node": "Re-read Call Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Re-read Call Lock": {
          "main": [
            [
              {
                "node": "Verify Claimed Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Verify Claimed Lock": {
          "main": [
            [
              {
                "node": "Lock Still Ours?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Lock Still Ours?": {
          "main": [
            [
              {
                "node": "Get Company",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Skip Lost Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Company": {
          "main": [
            [
              {
                "node": "Get Individual",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Individual": {
          "main": [
            [
              {
                "node": "Get Contact",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Contact": {
          "main": [
            [
              {
                "node": "Get Filing Registrations",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Get Filing Registrations": {
          "main": [
            [
              {
                "node": "Build Voice Payload",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Build Voice Payload": {
          "main": [
            [
              {
                "node": "Limit Startup Context",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Limit Startup Context": {
          "main": [
            [
              {
                "node": "Ready To Call?",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Ready To Call?": {
          "main": [
            [
              {
                "node": "Make ElevenLabs Outbound Call",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Mark Blocked",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Make ElevenLabs Outbound Call": {
          "main": [
            [
              {
                "node": "Normalize ElevenLabs Response",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Normalize ElevenLabs Response": {
          "main": [
            [
              {
                "node": "Store Voice IDs",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Store Voice IDs": {
          "main": [
            [
              {
                "node": "Loop Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Loop Reviewed Calls": {
          "main": [
            [
              {
                "node": "Done",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Preflight Call Lock",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Mark Blocked": {
          "main": [
            [
              {
                "node": "Loop Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Skip Lost Lock": {
          "main": [
            [
              {
                "node": "Loop Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Skip Existing Lock Or Ineligible?": {
          "main": [
            [
              {
                "node": "Skip Locked Or Ineligible Call",
                "type": "main",
                "index": 0
              }
            ],
            [
              {
                "node": "Mark Preflight Blocked",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Skip Locked Or Ineligible Call": {
          "main": [
            [
              {
                "node": "Loop Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Mark Preflight Blocked": {
          "main": [
            [
              {
                "node": "Loop Reviewed Calls",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "nodes": [
        {
          "id": "3783ea12-dc41-4a4b-9db3-cdbefcfbdb9c",
          "name": "Sticky Note 0094abdf",
          "type": "n8n-nodes-base.stickyNote",
          "typeVersion": 1,
          "position": [
            -1170,
            -450
          ],
          "parameters": {
            "content": "Runs reviewed and approved Notion Calls through ElevenLabs. Startup context is rebuilt as a plain-text brief with direct Company/Individual/Contact summaries and tax registration/reference context; raw JSON blobs are stripped before the outbound call. Other approved context categories must be fetched on demand through the separate RB Calls Context Lookup webhook tool. Routine call starts, blockers, and state changes are recorded in Notion only; Slack is reserved for live human-help requests.",
            "color": 5,
            "width": 7200,
            "height": 900
          }
        },
        {
          "id": "76526216-a117-4d54-a622-ae860c04a8de",
          "name": "Every 15 minutes",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1.3,
          "position": [
            -1120,
            0
          ],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 15
                }
              ]
            }
          }
        },
        {
          "id": "4f387f89-ddc7-4f8a-bf63-f1efcfc3f355",
          "name": "Get Reviewed Calls",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            -880,
            0
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "getAll",
            "databaseId": {
              "__rl": true,
              "value": "342e4130-1314-8012-964a-d969a860dd93",
              "mode": "id",
              "cachedResultName": "Calls"
            },
            "returnAll": true,
            "simple": false,
            "filterType": "manual",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "key": "Call Status|status",
                  "condition": "equals",
                  "statusValue": "Reviewed"
                },
                {
                  "key": "Approved|checkbox",
                  "condition": "equals",
                  "checkboxValue": true
                }
              ]
            },
            "options": {}
          },
          "alwaysOutputData": true
        },
        {
          "id": "3feae577-4587-4934-97cf-86e798223aa7",
          "name": "Done",
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            -368,
            -256
          ],
          "parameters": {}
        },
        {
          "id": "77363a38-78b2-4632-a588-8ee9a7c95c68",
          "name": "Preflight Call Lock",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            -368,
            0
          ],
          "parameters": {
            "mode": "runOnceForEachItem",
            "language": "javaScript",
            "jsCode": "const call = $json || {};\nfunction prop(page, name) { return page?.properties?.[name] || {}; }\nfunction relationIds(page, name) { return (prop(page, name).relation || []).map((rel) => rel.id).filter(Boolean); }\nfunction checkbox(page, name) { return Boolean(prop(page, name).checkbox); }\nfunction select(page, name) { const value = prop(page, name); return value.status?.name || value.select?.name || ''; }\nfunction uniqueId(page) { const value = prop(page, 'ID').unique_id; return value ? [value.prefix, value.number].filter((part) => part !== undefined && part !== null && String(part) !== '').join('-') : page.id; }\nfunction dateValue(page, name) { return prop(page, name).date?.start || ''; }\nfunction richText(value) { return (value.title || value.rich_text || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nfunction text(page, name) { return richText(prop(page, name)); }\nfunction people(page, name) { return prop(page, name).people || []; }\nfunction personName(person) { return person?.name || person?.person?.email || person?.id || ''; }\nconst reviewer = people(call, 'Reviewer')[0];\nconst submitter = people(call, 'Submitter')[0];\nconst owner = reviewer || submitter || null;\nconst ownerRole = reviewer ? 'Reviewer' : (submitter ? 'Submitter' : 'Unresolved');\nconst ownerName = personName(owner);\nconst messageTopic = text(call, 'Short reason') || text(call, 'Reason for call') || text(call, 'Main question') || 'Call execution';\nconst status = select(call, 'Call Status');\nconst approved = checkbox(call, 'Approved');\nconst companyIds = relationIds(call, 'Company');\nconst individualIds = relationIds(call, 'Individual');\nconst contactIds = relationIds(call, 'Contact');\nconst now = new Date();\nconst nowIso = now.toISOString();\nconst lastAttemptAt = dateValue(call, 'Last Call Attempt At');\nconst lastAttemptMs = Date.parse(lastAttemptAt);\nconst freshLock = status === 'Call Started' && Number.isFinite(lastAttemptMs) && now.getTime() - lastAttemptMs < 20 * 60 * 1000;\nconst blockedReasons = [];\nif (companyIds.length === 0) blockedReasons.push('Missing Company relation.');\nif (individualIds.length === 0) blockedReasons.push('Missing Individual relation.');\nif (contactIds.length === 0) blockedReasons.push('Missing Contact relation.');\nlet action = 'claim';\nlet reason = '';\nif (freshLock) { action = 'skip'; reason = 'Fresh Call Started lock exists from ' + lastAttemptAt + '.'; }\nelse if (status !== 'Reviewed' || !approved) { action = 'skip'; reason = 'Call is no longer eligible. Current status=' + (status || 'unknown') + ', approved=' + approved + '.'; }\nelse if (blockedReasons.length > 0) { action = 'blocked'; reason = blockedReasons.join(' '); }\nconst retryCount = Number(prop(call, 'Retry Count').number || 0) + 1;\nconst executionId = typeof $execution !== 'undefined' && $execution.id ? String($execution.id) : 'manual';\nconst lockToken = ['rb-call-lock', call.id || 'call', now.getTime(), executionId].join(':');\nreturn { call_page_id: call.id || '', call_url: call.url || '', call_public_id: uniqueId(call), message_topic: messageTopic, owner_role: ownerRole, owner_name: ownerName, owner_notion_user_id: owner?.id || '', preflight_action: action, preflight_ready: action === 'claim', skip_call: action === 'skip', preflight_blocked: action === 'blocked', preflight_reason: reason, preflight_blocked_status: 'Rejected', company_page_id: companyIds[0] || '', individual_page_id: individualIds[0] || '', contact_page_id: contactIds[0] || '', retry_count: retryCount, attempt_started_at: nowIso, attempt_lock_token: lockToken };"
          }
        },
        {
          "id": "1086f6ea-7570-491e-adaf-5e6df7ca827a",
          "name": "Get Call Owner",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            -112,
            0
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "getAll",
            "databaseId": {
              "__rl": true,
              "value": "af0b9bfa-93c2-4689-b588-fe87fe4ff79e",
              "mode": "id",
              "cachedResultName": "People Directory"
            },
            "returnAll": false,
            "limit": 1,
            "simple": false,
            "filterType": "manual",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "key": "Full Name|title",
                  "condition": "equals",
                  "titleValue": "={{ $(\"Preflight Call Lock\").item.json.owner_name || \"__owner_not_resolved__\" }}"
                }
              ]
            },
            "options": {}
          },
          "alwaysOutputData": true
        },
        {
          "id": "7b6a03ed-2ff6-4764-8be9-5bb6ea3ef0fd",
          "name": "Attach Owner Routing",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            144,
            0
          ],
          "parameters": {
            "mode": "runOnceForEachItem",
            "language": "javaScript",
            "jsCode": "const lock = $('Preflight Call Lock').item.json;\nconst ownerPage = $json || {};\nfunction text(page, name) { const value = page?.properties?.[name] || {}; return (value.title || value.rich_text || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nconst ownerDirectoryName = text(ownerPage, 'Full Name');\nconst rawSlackId = text(ownerPage, 'Slack Member ID');\nconst slackId = rawSlackId.replace(/[<@>]/g, '').trim();\nconst ownerLabel = lock.owner_name || ownerDirectoryName || 'owner not resolved';\nconst ownerMention = slackId ? '<@' + slackId + '>' : (ownerLabel ? ownerLabel + ' (Slack ID not resolved)' : 'owner not resolved');\nreturn { ...lock, owner_label: ownerLabel, owner_slack_member_id: slackId, owner_mention: ownerMention, owner_routing_source: slackId ? 'People Directory' : 'Notion person fallback' };"
          }
        },
        {
          "id": "54e7b510-076d-47a1-847d-1fa0876d8604",
          "name": "Preflight Ready To Claim?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            400,
            0
          ],
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "preflight-ready",
                  "leftValue": "={{ $json.preflight_ready }}",
                  "rightValue": "",
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          }
        },
        {
          "id": "e9c4e391-9913-4ab6-8491-093570760a6f",
          "name": "Claim Call Attempt Lock",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            672,
            -128
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "update",
            "pageId": {
              "__rl": true,
              "value": "={{ $json.call_page_id }}",
              "mode": "id"
            },
            "simple": false,
            "propertiesUi": {
              "propertyValues": [
                {
                  "key": "Call Status|status",
                  "statusValue": "Call Started"
                },
                {
                  "key": "Last Call Attempt At|date",
                  "date": "={{ $json.attempt_started_at }}"
                },
                {
                  "key": "Retry Count|number",
                  "numberValue": "={{ $json.retry_count }}"
                },
                {
                  "key": "Live Help Status|select",
                  "selectValue": "None"
                },
                {
                  "key": "ElevenLabs Conversation ID|rich_text",
                  "textContent": ""
                },
                {
                  "key": "Twilio Call SID|rich_text",
                  "textContent": ""
                },
                {
                  "key": "Voice Error|rich_text",
                  "textContent": "={{ $json.attempt_lock_token }}"
                }
              ]
            },
            "options": {}
          }
        },
        {
          "id": "bbcb2b2e-b10a-40dc-8629-290fdf2e6c8d",
          "name": "Re-read Call Lock",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            960,
            -128
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "get",
            "pageId": {
              "__rl": true,
              "value": "={{ $(\"Attach Owner Routing\").item.json.call_page_id }}",
              "mode": "id"
            },
            "simple": false
          },
          "alwaysOutputData": true
        },
        {
          "id": "25172252-14b3-468e-92a1-91c39754f843",
          "name": "Verify Claimed Lock",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            1232,
            -128
          ],
          "parameters": {
            "mode": "runOnceForEachItem",
            "language": "javaScript",
            "jsCode": "const lock = $('Attach Owner Routing').item.json;\nconst page = $json || {};\nfunction prop(page, name) { return page?.properties?.[name] || {}; }\nfunction text(page, name) { const value = prop(page, name); return (value.rich_text || value.title || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nfunction select(page, name) { const value = prop(page, name); return value.status?.name || value.select?.name || ''; }\nconst currentStatus = select(page, 'Call Status');\nconst voiceError = text(page, 'Voice Error');\nconst verified = currentStatus === 'Call Started' && voiceError.includes(lock.attempt_lock_token);\nreturn { ...lock, lock_verified: verified, lock_skip_reason: verified ? '' : 'Attempt lock was lost before dialing. Current status=' + (currentStatus || 'unknown') + '.', current_call_status: currentStatus };"
          }
        },
        {
          "id": "8bd5aff0-2e24-4908-89c3-450a365d2a33",
          "name": "Lock Still Ours?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            1488,
            -128
          ],
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "lock-verified",
                  "leftValue": "={{ $json.lock_verified }}",
                  "rightValue": "",
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          }
        },
        {
          "id": "13b6ff24-5fbe-4404-8a4b-a88d12cfafa2",
          "name": "Get Company",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            1776,
            -416
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "get",
            "pageId": {
              "__rl": true,
              "value": "={{ $(\"Attach Owner Routing\").item.json.company_page_id }}",
              "mode": "id"
            },
            "simple": false
          },
          "alwaysOutputData": true
        },
        {
          "id": "24f66edd-9e0e-4972-9b63-8e5578d5b433",
          "name": "Get Individual",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            2032,
            -416
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "get",
            "pageId": {
              "__rl": true,
              "value": "={{ $(\"Attach Owner Routing\").item.json.individual_page_id }}",
              "mode": "id"
            },
            "simple": false
          },
          "alwaysOutputData": true
        },
        {
          "id": "a2f8a191-31f6-4d7a-b7df-b9bc948cad39",
          "name": "Get Contact",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            2288,
            -416
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "get",
            "pageId": {
              "__rl": true,
              "value": "={{ $(\"Attach Owner Routing\").item.json.contact_page_id }}",
              "mode": "id"
            },
            "simple": false
          },
          "alwaysOutputData": true
        },
        {
          "id": "2cd29933-4af4-4012-b85d-97a287f23385",
          "name": "Get Filing Registrations",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            2544,
            -416
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "getAll",
            "databaseId": {
              "__rl": true,
              "value": "ecaf96a4-cf77-409a-b481-aaf317442b74",
              "mode": "id",
              "cachedResultName": "Filing Registrations"
            },
            "returnAll": true,
            "simple": false,
            "filterType": "manual",
            "matchType": "allFilters",
            "filters": {
              "conditions": [
                {
                  "key": "💼 Company|relation",
                  "condition": "={{ \"contains\" }}",
                  "relationValue": "={{ $(\"Attach Owner Routing\").item.json.company_page_id }}"
                }
              ]
            },
            "options": {}
          },
          "executeOnce": true,
          "alwaysOutputData": true
        },
        {
          "id": "654faee5-61fe-4d83-b0b9-7116010d7b82",
          "name": "Build Voice Payload",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            4592,
            -256
          ],
          "parameters": {
            "mode": "runOnceForAllItems",
            "language": "javaScript",
            "jsCode": "function rawNodeItems(nodeName) {\n  const output = [];\n  if (typeof $items !== 'function') return output;\n  for (let runIndex = 0; runIndex < 1000; runIndex += 1) {\n    try {\n      const items = $items(nodeName, 0, runIndex);\n      if (!Array.isArray(items) || items.length === 0) {\n        if (runIndex > 0) break;\n        continue;\n      }\n      output.push(...items.map((item) => item.json).filter(Boolean));\n    } catch (error) {\n      break;\n    }\n  }\n  return output;\n}\nfunction firstNodeItem(nodeName) { return rawNodeItems(nodeName)[0] || {}; }\nconst lock = firstNodeItem('Attach Owner Routing');\nconst call = firstNodeItem('Re-read Call Lock');\nconst company = firstNodeItem('Get Company');\nconst individual = firstNodeItem('Get Individual');\nconst contact = firstNodeItem('Get Contact');\nfunction pageItems(nodeName) { return rawNodeItems(nodeName).filter((page) => page && page.id && page.properties); }\nfunction nodeItems(nodeName) { return rawNodeItems(nodeName); }\nconst filingRegistrations = pageItems('Get Filing Registrations');\nconst taxPayments = pageItems('Get Tax Payments');\nconst taxPrepayments = pageItems('Get Tax Prepayments');\nfunction inferRecordCategory(record) {\n  const hay = String(record?.source_relation_property || '').toLowerCase();\n  if (/call notes?/.test(hay)) return 'call_notes';\n  if (/correspond|letter|mail|finanzamt/.test(hay)) return 'correspondence';\n  if (/contract|agreement|engagement/.test(hay)) return 'contracts';\n  if (/bank account|bank details|iban/.test(hay)) return 'bank_accounts';\n  if (/tax payment|tax payments|prepayment|prepayments/.test(hay)) return 'tax_payments_prepayments';\n  if (/tax registration|filing registration|registration/.test(hay)) return 'tax_registrations';\n  if (/tax filing|tax filings|filings|filing|return|returns/.test(hay)) return 'tax_filings';\n  if (/asset|assets/.test(hay)) return 'assets';\n  return '';\n}\nconst allowedLinkedCategories = new Set(['tax_registrations', 'tax_filings', 'contracts', 'correspondence', 'bank_accounts', 'tax_payments_prepayments', 'assets', 'call_notes']);\nfunction dedupeRecords(records) {\n  const seen = new Set();\n  return records.filter((record) => {\n    const key = [record.context_category || '', record.page_id || '', record.title || ''].join('|');\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n}\nconst linkedRecords = dedupeRecords(nodeItems('Normalize Linked Record')\n  .map((item) => item.linked_record)\n  .filter(Boolean)\n  .map((record) => ({ ...record, context_category: record.context_category || inferRecordCategory(record) }))\n  .filter((record) => allowedLinkedCategories.has(record.context_category)));\nfunction prop(page, name) { return page?.properties?.[name] || {}; }\nfunction richTextValue(value) { return (value?.title || value?.rich_text || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nfunction title(page, name) { return richTextValue(prop(page, name)); }\nfunction formulaValue(formula) { if (!formula || typeof formula !== 'object') return ''; if (formula.string !== undefined && formula.string !== null) return String(formula.string); if (formula.number !== undefined && formula.number !== null) return String(formula.number); if (formula.boolean !== undefined && formula.boolean !== null) return String(formula.boolean); if (formula.date?.start) return formula.date.start; return ''; }\nfunction simplifyProperty(value) { if (!value || typeof value !== 'object') return value; if (value.title) return richTextValue(value); if (value.rich_text) return richTextValue(value); if (value.select) return value.select.name; if (value.status) return value.status.name; if (value.multi_select) return value.multi_select.map((item) => item.name); if (typeof value.checkbox === 'boolean') return value.checkbox; if (typeof value.number === 'number') return value.number; if (value.date) return value.date?.start || value.date; if (value.phone_number) return value.phone_number; if (value.email) return value.email; if (value.url) return value.url; if (value.files) return undefined; if (value.relation) return value.relation.map((rel) => rel.id); if (value.people) return value.people.map((person) => ({ id: person.id, name: person.name || '', email: person.person?.email || '' })); if (value.unique_id) return value.unique_id; if (value.formula) return formulaValue(value.formula); if (value.rollup) return rollupValue(value.rollup); return undefined; }\nfunction rollupValue(rollup) { if (!rollup || typeof rollup !== 'object') return ''; if (Array.isArray(rollup.array)) return rollup.array.map((entry) => simplifyProperty(entry)).filter((value) => value !== undefined && value !== '').flat().join(', '); if (rollup.number !== undefined && rollup.number !== null) return String(rollup.number); if (rollup.date?.start) return rollup.date.start; return ''; }\nfunction text(page, name) { const value = prop(page, name); if (!value || typeof value !== 'object') return ''; if (value.type === 'title' || value.title) return richTextValue(value); if (value.type === 'rich_text' || value.rich_text) return richTextValue(value); if (value.type === 'phone_number' || value.phone_number) return value.phone_number || ''; if (value.type === 'email' || value.email) return value.email || ''; if (value.type === 'url' || value.url) return value.url || ''; if (value.type === 'formula' || value.formula) return formulaValue(value.formula); if (value.type === 'rollup' || value.rollup) return rollupValue(value.rollup); return ''; }\nfunction checkbox(page, name) { return Boolean(prop(page, name).checkbox); }\nfunction number(page, name) { const value = prop(page, name); return typeof value.number === 'number' ? value.number : null; }\nfunction select(page, name) { const value = prop(page, name); return value.select?.name || value.status?.name || ''; }\nfunction multiSelect(page, name) { return (prop(page, name).multi_select || []).map((item) => item.name); }\nfunction files(page, name) { return (prop(page, name).files || []).map((file) => ({ name: file.name || '', type: file.type || '' })); }\nfunction relationIds(page, name) { return (prop(page, name).relation || []).map((rel) => rel.id); }\nfunction dateText(page, name) { return prop(page, name).date?.start || ''; }\nfunction compactObject(input) { const output = {}; for (const [key, value] of Object.entries(input)) { if (value === undefined || value === null || value === '') continue; if (Array.isArray(value) && value.length === 0) continue; output[key] = value; } return output; }\nfunction pageTitleFromProperties(page) {\n  for (const value of Object.values(page?.properties || {})) {\n    if (value?.title) {\n      const valueText = richTextValue(value);\n      if (valueText) return valueText;\n    }\n  }\n  return page?.id || '';\n}\nfunction normalizedPageJson(page, label) {\n  const properties = {};\n  let filePropertyCount = 0;\n  let relationPropertyCount = 0;\n  for (const [key, value] of Object.entries(page?.properties || {})) {\n    if (value?.files) filePropertyCount += value.files.length;\n    if (value?.relation) relationPropertyCount += value.relation.length;\n    const simplified = simplifyProperty(value);\n    if (simplified !== undefined && simplified !== '') properties[key] = simplified;\n  }\n  return compactObject({\n    page_id: page?.id || '',\n    url: page?.url || '',\n    title: pageTitleFromProperties(page),\n    label,\n    created_time: page?.created_time || '',\n    last_edited_time: page?.last_edited_time || '',\n    file_property_count: filePropertyCount,\n    relation_property_count: relationPropertyCount,\n    properties,\n  });\n}\nfunction publicCompanyContext(page) { return compactObject({ legal_name: title(page, 'Legal Name') || title(page, 'Name'), reference: text(page, 'Reference'), register_number: text(page, 'Register Number'), incorporated_in: text(page, 'Incorporated in'), tax_residence: text(page, 'Tax Residence'), company_email: text(page, 'Company Email'), german_vat_number: text(page, 'German VAT No ') || text(page, 'German VAT No'), unique_taxpayer_reference: text(page, 'Unique Taxpayer Reference (UTR)'), tain: text(page, 'TAIN') }); }\nfunction publicIndividualContext(page) { return compactObject({ name: [title(page, 'First name'), text(page, 'Last Name')].filter(Boolean).join(' ').trim() || title(page, 'Name'), email: text(page, 'Email'), phone: text(page, 'Phone'), tax_residence: text(page, 'Tax Residence'), nationality: text(page, 'Nationality') }); }\nfunction publicContactContext(page) { return compactObject({ name: title(page, 'Name'), phone: text(page, 'Phone'), email: text(page, 'Email'), website: text(page, 'Website'), location: text(page, 'Location'), languages: multiSelect(page, 'Language(s)'), purpose: text(page, 'Purpose') }); }\nfunction referenceFromRegistrationTitle(value) {\n  const matches = String(value || '').match(/[A-Z]{0,4}[0-9][A-Z0-9]{4,}/gi) || [];\n  return matches[0] || '';\n}\nfunction registrationSummary(page) {\n  const name = title(page, 'Name');\n  return compactObject({ name, type: select(page, 'Type'), jurisdiction: select(page, 'Jurisdiction'), status: select(page, 'Status'), reference_number: text(page, 'Company/Tax/Filing Number') || referenceFromRegistrationTitle(name), tax_payment_reference: text(page, 'Tax Payment Reference'), prepayment_payment_reference: text(page, 'Prepayment Payment Reference'), filing_cadence: select(page, 'Filing Cadence'), tax_payment_cadence: select(page, 'Tax Payment Cadence'), first_filing_date: dateText(page, 'First Filing Date'), due_date: dateText(page, 'Due Date'), transfer_payment_to: text(page, 'Transfer Prepayment / Payment To'), comments: text(page, 'Comments'), registration_file_count: files(page, 'Registration').length, deregistration_file_count: files(page, 'Deregistration').length });\n}\nfunction paymentSummary(page) { return compactObject({ name: title(page, 'Name'), status: select(page, 'Status (Do not touch!)'), amount: number(page, 'Payment'), due_date: dateText(page, 'Due Date'), payment_reference: text(page, 'Payment Refrence'), related_company: text(page, 'Related Company'), transfer_to_bank_details: text(page, 'Transfer to bank details'), document_count: files(page, 'Document').length, proof_count: files(page, 'Proof of payment').length }); }\nfunction prepaymentSummary(page) { return compactObject({ name: title(page, 'Name'), status: select(page, 'Status'), amount: number(page, 'Payment'), due_date: dateText(page, 'Due Date'), payment_reference: text(page, 'Payment Refrence') || text(page, 'Base payment reference'), cadence: text(page, 'Cadence'), transfer_payment_to: text(page, 'Transfer payment to'), document_count: files(page, 'Document').length, proof_count: files(page, 'Proof of payment').length }); }\nfunction relationCoverage(records) {\n  const byRelation = {};\n  const bySource = {};\n  for (const record of records) {\n    const relation = record.source_relation_property || 'unknown';\n    const source = record.source_page_label || 'unknown';\n    byRelation[relation] = (byRelation[relation] || 0) + 1;\n    bySource[source] = (bySource[source] || 0) + 1;\n  }\n  return { by_relation_property: byRelation, by_source_page_label: bySource };\n}\nfunction findDateInRecord(record) {\n  const candidates = [];\n  for (const [key, value] of Object.entries(record.properties || {})) {\n    const keyLower = key.toLowerCase();\n    const maybeDate = typeof value === 'string' ? value : '';\n    if ((keyLower.includes('date') || keyLower.includes('received') || keyLower.includes('sent') || keyLower.includes('created')) && maybeDate) candidates.push(maybeDate);\n  }\n  candidates.push(record.created_time || '', record.last_edited_time || '');\n  return candidates.find((value) => Number.isFinite(Date.parse(value))) || '';\n}\nfunction isCorrespondence(record) {\n  const hay = [record.title, record.source_relation_property, record.source_page_title, Object.keys(record.properties || {}).join(' ')].join(' ').toLowerCase();\n  return hay.includes('correspond') || hay.includes('letter') || hay.includes('mail') || hay.includes('finanzamt');\n}\nfunction valueContainsId(value, id) {\n  if (!id || value === undefined || value === null) return false;\n  if (typeof value === 'string') return value === id;\n  if (Array.isArray(value)) return value.some((entry) => valueContainsId(entry, id));\n  if (typeof value === 'object') return Object.values(value).some((entry) => valueContainsId(entry, id));\n  return false;\n}\nfunction valueHasUuid(value) {\n  const textValue = typeof value === 'string' ? value : JSON.stringify(value || '');\n  return /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/i.test(textValue);\n}\nfunction recordMatchesSubjectCompany(record) {\n  if (record.context_category === 'call_notes') return true;\n  const companyId = lock.company_page_id || '';\n  if (!companyId) return true;\n  let sawCompanyRelation = false;\n  for (const [key, value] of Object.entries(record.properties || {})) {\n    const keyLower = key.toLowerCase();\n    if (!keyLower.includes('company') && !key.includes('💼')) continue;\n    if (!valueHasUuid(value)) continue;\n    sawCompanyRelation = true;\n    if (valueContainsId(value, companyId)) return true;\n  }\n  return !sawCompanyRelation;\n}\nfunction limitLinkedRecords(records) {\n  const limits = { tax_registrations: 20, tax_filings: 24, contracts: 12, correspondence: 12, bank_accounts: 10, tax_payments_prepayments: 24, assets: 12, call_notes: 8 };\n  const counts = {};\n  const sorted = records\n    .filter(recordMatchesSubjectCompany)\n    .sort((a, b) => Date.parse(findDateInRecord(b) || 0) - Date.parse(findDateInRecord(a) || 0));\n  return sorted.filter((record) => {\n    const category = record.context_category || 'other';\n    const limit = limits[category] || 8;\n    counts[category] = counts[category] || 0;\n    if (counts[category] >= limit) return false;\n    counts[category] += 1;\n    return true;\n  });\n}\nconst subjectLinkedRecords = limitLinkedRecords(linkedRecords);\nconst companyContext = publicCompanyContext(company);\nconst individualContext = publicIndividualContext(individual);\nconst contactContext = publicContactContext(contact);\nconst companyFullJson = normalizedPageJson(company, 'Company');\nconst individualFullJson = normalizedPageJson(individual, 'Individual');\nconst contactFullJson = normalizedPageJson(contact, 'Contact');\nconst registrationSummaries = filingRegistrations.map(registrationSummary).filter((item) => Object.keys(item).length);\nconst paymentSummaries = taxPayments.map(paymentSummary).filter((item) => Object.keys(item).length);\nconst prepaymentSummaries = taxPrepayments.map(prepaymentSummary).filter((item) => Object.keys(item).length);\nconst taxReferences = [];\nfunction addTaxReference(input) { const value = String(input.value || '').trim(); if (!value) return; const key = [input.kind || '', input.jurisdiction || '', input.type || '', value].join('|').toLowerCase(); if (taxReferences.some((entry) => entry.key === key)) return; taxReferences.push(compactObject({ key, kind: input.kind, type: input.type, jurisdiction: input.jurisdiction, value, status: input.status, label: input.label, caution: input.caution })); }\naddTaxReference({ kind: 'company_register', type: 'Company registration number', jurisdiction: companyContext.incorporated_in, value: companyContext.register_number, status: 'public company identifier' });\naddTaxReference({ kind: 'company_tax', type: 'German V-A-T number', jurisdiction: 'DE', value: companyContext.german_vat_number, status: 'direct company field' });\naddTaxReference({ kind: 'company_tax', type: 'Unique Taxpayer Reference', jurisdiction: companyContext.tax_residence, value: companyContext.unique_taxpayer_reference, status: 'direct company field' });\naddTaxReference({ kind: 'company_tax', type: 'T-A-I-N', jurisdiction: companyContext.tax_residence, value: companyContext.tain, status: 'direct company field' });\nfor (const item of registrationSummaries) { addTaxReference({ kind: 'registration', type: item.type, jurisdiction: item.jurisdiction, value: item.reference_number, status: item.status, label: item.name, caution: item.jurisdiction === 'DE' && item.status !== 'Registered' ? 'Do not describe as active unless the authority confirms it.' : '' }); addTaxReference({ kind: 'payment_reference', type: item.type + ' payment reference', jurisdiction: item.jurisdiction, value: item.tax_payment_reference, status: item.status, label: item.name }); addTaxReference({ kind: 'prepayment_reference', type: item.type + ' prepayment reference', jurisdiction: item.jurisdiction, value: item.prepayment_payment_reference, status: item.status, label: item.name }); }\nfor (const item of paymentSummaries) addTaxReference({ kind: 'payment_reference', type: 'Tax payment reference', jurisdiction: '', value: item.payment_reference, status: item.status, label: item.name });\nfor (const item of prepaymentSummaries) addTaxReference({ kind: 'prepayment_reference', type: 'Tax prepayment reference', jurisdiction: '', value: item.payment_reference, status: item.status, label: item.name });\nconst cleanTaxReferences = taxReferences.map(({ key, ...rest }) => rest);\nconst taxReferenceSummaryText = cleanTaxReferences.length ? cleanTaxReferences.map((entry) => [entry.jurisdiction, entry.type, entry.value, entry.status ? '(' + entry.status + ')' : '', entry.caution || ''].filter(Boolean).join(' - ')).join(String.fromCharCode(10)) : 'No tax or authority reference number was found in the company, registration, payment, or prepayment records. Ask the call creator for the missing reference before guessing.';\nconst correspondenceRecords = subjectLinkedRecords.map((record) => ({ ...record, correspondence_date: findDateInRecord(record) })).filter((record) => record.context_category === 'correspondence' || isCorrespondence(record)).sort((a, b) => Date.parse(b.correspondence_date || 0) - Date.parse(a.correspondence_date || 0));\nconst latestCorrespondence = correspondenceRecords[0] || null;\nconst correspondenceContext = { count: correspondenceRecords.length, latest: latestCorrespondence, records: correspondenceRecords };\nconst latestCorrespondenceText = latestCorrespondence ? ['Latest correspondence/background date: ' + latestCorrespondence.correspondence_date, 'Record: ' + latestCorrespondence.title, 'From context: ' + [latestCorrespondence.source_page_label, latestCorrespondence.source_relation_property].filter(Boolean).join(' / ')].filter(Boolean).join(' - ') : 'No correspondence metadata was found in fetched background records.';\nfunction stringValue(value, maxLength) {\n  if (value === undefined || value === null || value === '') return '';\n  const text = typeof value === 'string' ? value : JSON.stringify(value);\n  return text.length > maxLength ? text.slice(0, maxLength - 3) + '...' : text;\n}\nfunction summarizeCallNote(record) {\n  const properties = record.properties || {};\n  return compactObject({\n    date: findDateInRecord(record),\n    title: record.title || '',\n    event_type: stringValue(properties['Event Type'], 120),\n    outcome_status: stringValue(properties['Outcome Status'], 120),\n    summary: stringValue(properties.Summary || properties.Outcome, 1200),\n    help_question: stringValue(properties['Help Question'], 800),\n    help_answer: stringValue(properties['Help Answer'], 800),\n    conversation_id: stringValue(properties['ElevenLabs Conversation ID'], 160),\n    transcript_excerpt: stringValue(properties.Transcript, 1200),\n  });\n}\nconst callNoteRecords = subjectLinkedRecords.filter((record) => record.context_category === 'call_notes');\nconst callNoteSummaries = callNoteRecords.map(summarizeCallNote);\nconst callNotesText = callNoteSummaries.length\n  ? callNoteSummaries.map((note, index) => {\n    const lines = ['Call note ' + (index + 1) + ': ' + (note.title || 'Untitled')];\n    if (note.date) lines.push('Date: ' + note.date);\n    if (note.event_type) lines.push('Type: ' + note.event_type);\n    if (note.outcome_status) lines.push('Outcome: ' + note.outcome_status);\n    if (note.summary) lines.push('Summary: ' + note.summary);\n    if (note.help_question) lines.push('Help question: ' + note.help_question);\n    if (note.help_answer) lines.push('Help answer: ' + note.help_answer);\n    if (note.transcript_excerpt) lines.push('Transcript excerpt: ' + note.transcript_excerpt);\n    return lines.join(String.fromCharCode(10));\n  }).join(String.fromCharCode(10) + String.fromCharCode(10))\n  : 'No attached call notes were fetched.';\nconst linkedRecordLines = subjectLinkedRecords.filter((record) => record.context_category !== 'call_notes').map((record) => {\n  const date = findDateInRecord(record);\n  return [record.context_category, date, record.title, record.source_relation_property ? 'via ' + record.source_relation_property : '', record.source_page_title ? 'from ' + record.source_page_title : ''].filter(Boolean).join(' - ');\n}).join(String.fromCharCode(10));\nconst subjectRaw = select(call, 'Subject');\nconst subject = subjectRaw === 'Company' ? 'Company' : 'Individual';\nconst poaRequired = checkbox(call, 'Requires PoA?');\nconst companyPoa = files(company, 'Company PoA');\nconst individualPoa = files(individual, 'Individual PoA');\nconst poaFiles = subject === 'Company' ? companyPoa : individualPoa;\nconst poaValid = !poaRequired || poaFiles.length > 0;\nconst relationValid = !company?.id || !individual?.id || JSON.stringify(company.properties || {}).includes(individual.id);\nconst phoneNumber = text(contact, 'Phone').replace(/[^+0-9]/g, '');\nconst languages = multiSelect(contact, 'Language(s)');\nconst normalizedLanguages = languages.map((entry) => String(entry || '').toLowerCase());\nconst hasGerman = normalizedLanguages.some((entry) => entry.includes('german') || entry.includes('deutsch') || entry === 'de');\nconst language = hasGerman ? 'German (Deutsch)' : 'English';\nconst languageCode = hasGerman ? 'de' : 'en';\nconst agentPhoneNumberId = (typeof $vars !== 'undefined' && $vars.ELEVENLABS_AGENT_PHONE_NUMBER_ID ? String($vars.ELEVENLABS_AGENT_PHONE_NUMBER_ID) : '').trim();\nconst companyName = companyContext.legal_name || title(company, 'Legal Name') || title(company, 'Name');\nconst individualName = individualContext.name || [title(individual, 'First name'), text(individual, 'Last Name')].filter(Boolean).join(' ').trim();\nconst contactName = contactContext.name || title(contact, 'Name');\nconst callerName = 'Alexander Gulin';\nconst representativeEntity = 'Richmond Blackwood Limited';\nconst representedSubject = subject === 'Company' ? companyName : individualName;\nconst representativeRole = subject === 'Company' ? 'Company secretary' : 'Representative caller';\nconst representationAuthority = subject === 'Company'\n  ? representativeEntity + ' is the company secretary, which is a representative position for the company. Use this representative position before relying on a Power of Attorney or Vollmacht.'\n  : representativeEntity + ' is assisting with the call on behalf of the individual. Use a Power of Attorney or Vollmacht only when the call is marked as requiring it or the authority specifically requires it.';\nconst poaSpeechRule = poaRequired\n  ? 'Power of Attorney or Vollmacht is marked as required for this call. Use the validated subject-specific PoA context if the authority asks.'\n  : 'Do not lead with Power of Attorney or Vollmacht. Use PoA only as a last resort if the authority specifically requires it for this request.';\nconst callPublicId = lock.call_public_id || call.id;\nconst messageTopic = lock.message_topic || text(call, 'Short reason') || text(call, 'Reason for call') || text(call, 'Main question') || 'Call execution';\nconst reasonForCall = text(call, 'Reason for call');\nconst mainQuestion = text(call, 'Main question');\nconst desiredOutcome = text(call, 'Desired outcome');\nconst owner = { role: lock.owner_role || '', name: lock.owner_label || lock.owner_name || '', slack_member_id: lock.owner_slack_member_id || '', mention: lock.owner_mention || 'owner not resolved', routing_source: lock.owner_routing_source || '' };\nconst relatedContext = { company: companyFullJson, individual: individualFullJson, contact: contactFullJson, allowed_linked_record_categories: Array.from(allowedLinkedCategories), tax_references: cleanTaxReferences, registrations: registrationSummaries.slice(0, 50), tax_payments: paymentSummaries.slice(0, 50), tax_prepayments: prepaymentSummaries.slice(0, 50), call_notes: callNoteSummaries, linked_records: subjectLinkedRecords, correspondence: correspondenceContext, correspondence_records: correspondenceRecords, latest_correspondence: latestCorrespondence, relation_coverage: relationCoverage(subjectLinkedRecords), counts: { registrations: filingRegistrations.length, tax_payments: taxPayments.length, tax_prepayments: taxPrepayments.length, linked_records_raw: linkedRecords.length, linked_records_sent: subjectLinkedRecords.length, correspondence_records: correspondenceRecords.length, call_notes_relation_count: relationIds(call, 'Call Notes').length, call_notes_fetched: callNoteSummaries.length } };\nconst structuredContextJson = JSON.stringify({ company: companyFullJson, individual: individualFullJson, contact: contactFullJson, correspondence: correspondenceContext });\nconst publicSafeBrief = ['Caller name: ' + callerName, 'Call language: ' + language + ' (' + languageCode + ')', representedSubject ? 'After the static greeting, follow the call language. In English say: I am calling on behalf of ' + representedSubject + '. In German say: Ich rufe im Namen von ' + representedSubject + ' an. Do not mention ' + representativeEntity + ' before the represented subject is clear.' : '', 'Represented subject: ' + [representedSubject, subject === 'Company' && companyContext.register_number ? 'company number ' + companyContext.register_number : ''].filter(Boolean).join(', '), 'Representative role: ' + representativeRole + '. ' + representationAuthority, 'Power of Attorney handling: ' + poaSpeechRule, subject === 'Company' && individualName ? 'Relevant person: ' + individualName : '', contactName ? 'Calling: ' + contactName : '', reasonForCall ? 'Reason for call: ' + reasonForCall : '', mainQuestion ? 'Main question: ' + mainQuestion : '', desiredOutcome ? 'Desired outcome: ' + desiredOutcome : '', 'Tax and authority references available if asked:', taxReferenceSummaryText, callNoteSummaries.length ? 'Attached call notes for private background. Use them to avoid repeating past mistakes, but do not mention internal systems, tools, Slack, n8n, ElevenLabs, or workflow/debug details to the authority:' + String.fromCharCode(10) + callNotesText : '', linkedRecordLines ? 'Additional allowed background records:' + String.fromCharCode(10) + linkedRecordLines : '', 'Full direct Company, Individual, Contact, correspondence, and linked-record JSON is available in focused dynamic variables. Use those fields for private reasoning only; do not read JSON keys aloud and do not mention internal source labels.', 'Call handling: spell abbreviations letter by letter. When speaking raw numbers, registration numbers, tax references, or alphanumeric identifiers, preserve the exact value and say it much, much slower than normal speech. Use tiny chunks, clear pauses, and breaks between every chunk. Spell letters one by one with pauses. Do not invent, rewrite, or publicly mention internal formatting rules.', 'Do not describe a German registration as currently active unless the authority confirms it during the call. If a required detail is missing or uncertain, ask the call creator for help instead of guessing.', 'Do not mention internal systems, workflow state, tools, database names, source labels, or private operator notes.'].filter(Boolean).join(String.fromCharCode(10));\nconst privateContext = { generated_at: new Date().toISOString(), call: { id: call.id || '', url: call.url || '', public_id: callPublicId, subject, reason_for_call: reasonForCall, main_question: mainQuestion, desired_outcome: desiredOutcome }, caller: { name: callerName, representative_entity: representativeEntity, represented_subject: representedSubject, representative_role: representativeRole, representation_authority: representationAuthority, poa_speech_rule: poaSpeechRule }, owner, company: companyFullJson, individual: individualFullJson, contact: contactFullJson, company_summary: companyContext, individual_summary: individualContext, contact_summary: contactContext, poa: { required: poaRequired, subject, company_poa_file_count: companyPoa.length, individual_poa_file_count: individualPoa.length, selected_poa_file_count: poaFiles.length, one_file_required: true }, related_context: relatedContext, attempt_lock: { token: lock.attempt_lock_token, started_at: lock.attempt_started_at, retry_count: lock.retry_count } };\nconst linkedContextJson = JSON.stringify(relatedContext);\nconst allLinkedRecordsJson = JSON.stringify(subjectLinkedRecords);\nconst contextPackForVoice = publicSafeBrief.slice(0, 12000);\nconst pastCallNotesForVoice = callNotesText.slice(0, 6000);\nconst blockedReasons = [];\nif (!phoneNumber || !phoneNumber.startsWith('+')) blockedReasons.push('Contact phone number must be present in E.164 format.');\nif (!agentPhoneNumberId) blockedReasons.push('n8n variable ELEVENLABS_AGENT_PHONE_NUMBER_ID is missing.');\nif (!poaValid) blockedReasons.push(subject === 'Company' ? 'Company PoA is required and no Company PoA file is present.' : 'Individual PoA is required and no Individual PoA file is present.');\nif (!relationValid) blockedReasons.push('Individual is not linked to the selected Company.');\nreturn [{ json: { ...lock, ready: blockedReasons.length === 0, blocked_reason: blockedReasons.join(' '), blocked_status: blockedReasons.some((reason) => reason.includes('PoA') || reason.includes('not linked')) ? 'Rejected' : 'Reviewed', retry_count: lock.retry_count, to_number: phoneNumber, message_topic: messageTopic, owner_mention: owner.mention, owner_slack_member_id: owner.slack_member_id, owner_label: owner.name, tax_reference_summary: taxReferenceSummaryText, latest_correspondence_summary: latestCorrespondenceText, correspondence_context_json: JSON.stringify(correspondenceContext), latest_correspondence_json: JSON.stringify(latestCorrespondence || {}), call_notes_summary: callNotesText, related_context_json: linkedContextJson, private_context_json: JSON.stringify(privateContext), context_pack_text: publicSafeBrief.slice(0, 1900), linked_records_raw_count: linkedRecords.length, linked_records_sent_count: subjectLinkedRecords.length, elevenlabs_body: { agent_id: 'agent_2001kq39ea0hf5yb86c4a7hj9gp1', agent_phone_number_id: agentPhoneNumberId || 'MISSING_ELEVENLABS_AGENT_PHONE_NUMBER_ID', to_number: phoneNumber || 'MISSING_CONTACT_PHONE', call_recording_enabled: false, conversation_initiation_client_data: { type: 'conversation_initiation_client_data', conversation_config_override: { agent: { language: languageCode } }, dynamic_variables: { language, language_code: languageCode, caller_name: callerName, representative_entity: representativeEntity, represented_subject: representedSubject, representative_role: representativeRole, representation_authority: representationAuthority, poa_speech_rule: poaSpeechRule, company: companyName, individual: individualName, contact: contactName, reason_for_call: reasonForCall, main_question: mainQuestion, desired_outcome: desiredOutcome, message_topic: messageTopic, owner_name: owner.name, owner_role: owner.role, owner_mention: owner.mention, owner_slack_member_id: owner.slack_member_id, poa_required: poaRequired, poa_validated: poaValid, poa_subject: subject, subject, call_url: call.url, call_id: call.id, call_public_id: callPublicId, live_help_request_id: 'not_started', live_help_slack_thread_ts: 'not_started', live_help_note_page_id: 'not_started', live_help_expires_at: '1970-01-01T00:00:00.000Z', live_help_status: 'not_requested', live_help_answer: 'not_answered', tax_reference_summary: taxReferenceSummaryText, latest_correspondence_summary: latestCorrespondenceText, correspondence_context_json: JSON.stringify(correspondenceContext), latest_correspondence_json: JSON.stringify(latestCorrespondence || {}), call_notes_summary: callNotesText, call_notes_context_json: JSON.stringify(callNoteSummaries), allowed_linked_record_categories: Array.from(allowedLinkedCategories).join(', '), relation_coverage_json: JSON.stringify(relatedContext.relation_coverage), company_context_json: JSON.stringify(companyFullJson), individual_context_json: JSON.stringify(individualFullJson), contact_context_json: JSON.stringify(contactFullJson), company_summary_json: JSON.stringify(companyContext), individual_summary_json: JSON.stringify(individualContext), contact_summary_json: JSON.stringify(contactContext), structured_context_json: structuredContextJson, linked_context_json: linkedContextJson, all_linked_records_json: allLinkedRecordsJson, context_pack: contextPackForVoice, past_call_notes: pastCallNotesForVoice } } } } }];"
          }
        },
        {
          "id": "528bf4c0-78b1-4bd0-85b3-c0f81d81e077",
          "name": "Limit Startup Context",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            4848,
            -256
          ],
          "parameters": {
            "mode": "runOnceForEachItem",
            "language": "javaScript",
            "jsCode": "const payload = { ...($json || {}) };\nconst body = { ...(payload.elevenlabs_body || {}) };\nconst clientData = { ...(body.conversation_initiation_client_data || {}) };\nconst vars = { ...(clientData.dynamic_variables || {}) };\nfunction parseJson(value, fallback) {\n  if (value && typeof value === 'object') return value;\n  if (!value) return fallback;\n  try { return JSON.parse(String(value)); } catch (error) { return fallback; }\n}\nfunction pickTaxFields(pageJson) {\n  const properties = pageJson?.properties || {};\n  const output = {};\n  for (const [key, value] of Object.entries(properties)) {\n    const hay = key.toLowerCase();\n    if (!hay.includes('tax') && !hay.includes('vat') && !hay.includes('v-a-t') && !hay.includes('utr') && !hay.includes('tain') && !hay.includes('steuernummer') && !hay.includes('steuer') && !hay.includes('registration') && !hay.includes('register')) continue;\n    output[key] = value;\n  }\n  return output;\n}\nfunction take(name) {\n  if (Object.prototype.hasOwnProperty.call(vars, name)) return vars[name];\n  return '';\n}\nconst companyJson = parseJson(vars.company_context_json || payload.company_context_json, {});\nconst individualJson = parseJson(vars.individual_context_json || payload.individual_context_json, {});\nconst contactJson = parseJson(vars.contact_context_json || payload.contact_context_json, {});\nconst relatedContext = parseJson(payload.related_context_json || vars.linked_context_json, {});\nconst taxRegistrationContext = {\n  company_tax_registrations: Array.isArray(relatedContext.registrations) ? relatedContext.registrations : [],\n  company_tax_references: Array.isArray(relatedContext.tax_references) ? relatedContext.tax_references : [],\n  company_tax_fields: pickTaxFields(companyJson),\n  individual_tax_fields: pickTaxFields(individualJson),\n};\nconst lookupAllowedCategories = ['tax_registrations', 'tax_filings', 'contracts', 'correspondence', 'bank_accounts', 'tax_payments_prepayments', 'assets', 'call_notes'];\nfunction scalar(value) {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) return value.map(scalar).filter(Boolean).join(', ');\n  if (typeof value === 'object') return '';\n  return String(value).replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, '').replace(/[ \\t]+/g, ' ').trim();\n}\nfunction asciiText(value) { return String(value || '').replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, '').replace(/[ \\t]+/g, ' ').trim(); }\nfunction properties(pageJson) { return pageJson && typeof pageJson === 'object' ? (pageJson.properties || {}) : {}; }\nfunction line(label, value) {\n  const text = scalar(value);\n  return text ? label + ': ' + text : '';\n}\nfunction pageLine(label, pageJson, keys) {\n  const props = properties(pageJson);\n  const lines = [line(label + ' name', pageJson.title)];\n  for (const key of keys) lines.push(line(label + ' ' + key, props[key]));\n  return lines.filter(Boolean);\n}\nfunction objectLines(prefix, input, limit = 20) {\n  const output = [];\n  for (const [key, value] of Object.entries(input || {})) {\n    const text = scalar(value);\n    if (!text) continue;\n    output.push(prefix + ' ' + key + ': ' + text);\n    if (output.length >= limit) break;\n  }\n  return output;\n}\nfunction registrationLines(items) {\n  return (Array.isArray(items) ? items : []).slice(0, 12).map((item, index) => [\n    'Tax registration ' + (index + 1),\n    scalar(item.jurisdiction),\n    scalar(item.type),\n    scalar(item.reference_number),\n    scalar(item.status),\n  ].filter(Boolean).join(' - '));\n}\nconst plainStartupLines = [\n  ...pageLine('Company', companyJson, ['Legal Name', 'Reference', 'Register Number', 'Incorporated in', 'Tax Residence', 'German VAT No ', 'German VAT No', 'Unique Taxpayer Reference (UTR)', 'TAIN']),\n  ...registrationLines(taxRegistrationContext.company_tax_registrations),\n  ...objectLines('Company tax field', taxRegistrationContext.company_tax_fields, 16),\n  ...objectLines('Individual tax field', taxRegistrationContext.individual_tax_fields, 16),\n  ...pageLine('Individual', individualJson, ['First name', 'Last Name', 'Email', 'Phone', 'Tax Residence', 'Nationality']),\n  ...pageLine('Contact', contactJson, ['Name', 'Phone', 'Email', 'Website', 'Location', 'Language(s)', 'Purpose']),\n];\nconst startupBrief = [\n  'Startup context includes this plain text summary plus direct Company, Individual, Contact, and tax-registration JSON variables for private reasoning.',\n  'Caller name: ' + take('caller_name'),\n  'Call language: ' + take('language'),\n  'Represented subject: ' + take('represented_subject'),\n  'Representative role: ' + take('representative_role') + '. ' + take('representation_authority'),\n  'Power of Attorney handling: ' + take('poa_speech_rule'),\n  'Reason for call: ' + take('reason_for_call'),\n  'Main question: ' + take('main_question'),\n  'Desired outcome: ' + take('desired_outcome'),\n  'Tax and authority references available if asked:',\n  take('tax_reference_summary'),\n  'Direct startup context:',\n  plainStartupLines.join(String.fromCharCode(10)),\n  'For tax registrations, tax filings, contracts, correspondence, bank accounts, tax payments/prepayments, assets, or call notes, use lookup_call_context with a specific allowed category and focused query before guessing.',\n  'Use lookup results privately. Never mention Notion, n8n, tools, internal database names, source labels, Slack, workflow state, JSON, or debug details to the authority.',\n  'Call handling: spell abbreviations letter by letter. Speak numbers, registration numbers, tax references, and alphanumeric identifiers much slower than normal speech, in tiny chunks with clear pauses.',\n].filter(Boolean).map(asciiText).filter(Boolean).join(String.fromCharCode(10)).slice(0, 6000);\nconst keep = [\n  'language',\n  'caller_name',\n  'representative_entity',\n  'represented_subject',\n  'representative_role',\n  'representation_authority',\n  'poa_speech_rule',\n  'company',\n  'individual',\n  'contact',\n  'reason_for_call',\n  'main_question',\n  'desired_outcome',\n  'message_topic',\n  'owner_name',\n  'owner_role',\n  'owner_mention',\n  'owner_slack_member_id',\n  'poa_required',\n  'poa_validated',\n  'poa_subject',\n  'subject',\n  'call_url',\n  'call_id',\n  'call_public_id',\n  'live_help_request_id',\n  'live_help_slack_thread_ts',\n  'live_help_note_page_id',\n  'live_help_expires_at',\n  'live_help_status',\n  'live_help_answer',\n  'tax_reference_summary',\n];\nconst minimal = {};\nfor (const name of keep) minimal[name] = take(name);\nminimal.lookup_allowed_categories = lookupAllowedCategories.join(', ');\nminimal.context_pack = startupBrief;\nminimal.company_context_json = JSON.stringify(companyJson);\nminimal.individual_context_json = JSON.stringify(individualJson);\nminimal.contact_context_json = JSON.stringify(contactJson);\nminimal.tax_registration_context_json = JSON.stringify(taxRegistrationContext);\nclientData.dynamic_variables = minimal;\nbody.conversation_initiation_client_data = clientData;\npayload.elevenlabs_body = body;\npayload.context_pack_text = startupBrief.slice(0, 6000);\npayload.startup_context_policy = 'direct_subject_json_with_on_demand_notion_lookup';\npayload.startup_dynamic_variable_names = Object.keys(minimal).sort().join(', ');\npayload.startup_dynamic_variable_count = Object.keys(minimal).length;\npayload.linked_records_sent_count = 0;\npayload.linked_records_raw_count = 0;\nreturn payload;"
          }
        },
        {
          "id": "de3821ac-8ce6-463b-9278-93341427a1c4",
          "name": "Ready To Call?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            5104,
            -256
          ],
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "ready",
                  "leftValue": "={{ $json.ready }}",
                  "rightValue": "",
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          }
        },
        {
          "id": "bc038f29-fb60-4a2a-822a-66d21f0a6054",
          "name": "Make ElevenLabs Outbound Call",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 4.4,
          "position": [
            5376,
            -400
          ],
          "parameters": {
            "method": "POST",
            "url": "https://api.elevenlabs.io/v1/convai/twilio/outbound-call",
            "authentication": "predefinedCredentialType",
            "nodeCredentialType": "elevenLabsApi",
            "sendHeaders": true,
            "headerParameters": {
              "parameters": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            },
            "sendBody": true,
            "specifyBody": "json",
            "jsonBody": "={{ $(\"Limit Startup Context\").item.json.elevenlabs_body }}",
            "options": {
              "response": {
                "response": {
                  "fullResponse": true,
                  "neverError": true,
                  "responseFormat": "json"
                }
              },
              "timeout": 30000
            }
          }
        },
        {
          "id": "c6b90317-f489-47e6-b654-f2e66d8accc1",
          "name": "Normalize ElevenLabs Response",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [
            5664,
            -400
          ],
          "parameters": {
            "mode": "runOnceForEachItem",
            "language": "javaScript",
            "jsCode": "const payload = $('Limit Startup Context').item.json;\nconst response = $json || {};\nlet body = response.body !== undefined ? response.body : response;\nif (typeof body === 'string') { try { body = JSON.parse(body); } catch (error) { body = { raw: body }; } }\nfunction firstString(paths) { for (const value of paths) { if (value !== undefined && value !== null && String(value).trim()) return String(value).trim(); } return ''; }\nconst statusCode = Number(response.statusCode || response.status || response.response?.statusCode || 0);\nconst conversationId = firstString([body.conversation_id, body.conversationId, body.conversation?.id, body.data?.conversation_id, body.data?.conversationId]);\nconst twilioCallSid = firstString([body.callSid, body.call_sid, body.twilio_call_sid, body.sip_call_id, body.sipCallId, body.data?.callSid, body.data?.call_sid]);\nconst httpFailed = statusCode >= 400;\nconst successFlag = body.success === true || body.status === 'success' || body.ok === true;\nconst returnedCallReference = Boolean(conversationId || twilioCallSid);\nconst callStarted = !httpFailed && (successFlag || returnedCallReference);\nconst errorSummary = callStarted ? '' : JSON.stringify({ statusCode: statusCode || 'unknown', body }).slice(0, 1900);\nreturn { ...payload, elevenlabs_status_code: statusCode || '', elevenlabs_success: callStarted, call_status: callStarted ? 'Call Started' : 'Call Unanswered', elevenlabs_conversation_id: conversationId, twilio_call_sid: twilioCallSid, voice_error: errorSummary, response_body_excerpt: JSON.stringify(body).slice(0, 1900) };"
          }
        },
        {
          "id": "d816664d-4459-42ed-a0f3-07914815d849",
          "name": "Store Voice IDs",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            5936,
            -400
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "update",
            "pageId": {
              "__rl": true,
              "value": "={{ $(\"Normalize ElevenLabs Response\").item.json.call_page_id }}",
              "mode": "id"
            },
            "simple": false,
            "propertiesUi": {
              "propertyValues": [
                {
                  "key": "Call Status|status",
                  "statusValue": "={{ $(\"Normalize ElevenLabs Response\").item.json.call_status }}"
                },
                {
                  "key": "ElevenLabs Conversation ID|rich_text",
                  "textContent": "={{ $(\"Normalize ElevenLabs Response\").item.json.elevenlabs_conversation_id }}"
                },
                {
                  "key": "Twilio Call SID|rich_text",
                  "textContent": "={{ $(\"Normalize ElevenLabs Response\").item.json.twilio_call_sid }}"
                },
                {
                  "key": "Voice Error|rich_text",
                  "textContent": "={{ $(\"Normalize ElevenLabs Response\").item.json.voice_error }}"
                }
              ]
            },
            "options": {}
          }
        },
        {
          "id": "e59c1b6a-cd52-4210-b0e4-60bece9ccdad",
          "name": "Loop Reviewed Calls",
          "type": "n8n-nodes-base.splitInBatches",
          "typeVersion": 3,
          "position": [
            -624,
            0
          ],
          "parameters": {
            "options": {}
          }
        },
        {
          "id": "b032c0da-f948-40e1-a8e9-a6fd4f60d828",
          "name": "Mark Blocked",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            5376,
            -80
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "update",
            "pageId": {
              "__rl": true,
              "value": "={{ $json.call_page_id }}",
              "mode": "id"
            },
            "simple": false,
            "propertiesUi": {
              "propertyValues": [
                {
                  "key": "Call Status|status",
                  "statusValue": "={{ $json.blocked_status }}"
                },
                {
                  "key": "Voice Error|rich_text",
                  "textContent": "={{ $json.blocked_reason }}"
                },
                {
                  "key": "Context Pack|rich_text",
                  "textContent": "={{ $json.context_pack_text }}"
                }
              ]
            },
            "options": {}
          }
        },
        {
          "id": "422db565-db8b-456b-ac6e-7f59e9653c07",
          "name": "Skip Lost Lock",
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            1776,
            80
          ],
          "parameters": {}
        },
        {
          "id": "dba7b382-0f71-4ecb-a5f4-7a0e04166d65",
          "name": "Skip Existing Lock Or Ineligible?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2.3,
          "position": [
            672,
            272
          ],
          "parameters": {
            "conditions": {
              "options": {
                "caseSensitive": true,
                "leftValue": "",
                "typeValidation": "strict",
                "version": 3
              },
              "conditions": [
                {
                  "id": "skip-call",
                  "leftValue": "={{ $json.skip_call }}",
                  "rightValue": "",
                  "operator": {
                    "type": "boolean",
                    "operation": "true",
                    "singleValue": true
                  }
                }
              ],
              "combinator": "and"
            },
            "options": {}
          }
        },
        {
          "id": "bc3a1574-864c-4dd6-b3df-e6997df64f68",
          "name": "Skip Locked Or Ineligible Call",
          "type": "n8n-nodes-base.noOp",
          "typeVersion": 1,
          "position": [
            960,
            160
          ],
          "parameters": {}
        },
        {
          "id": "9f911892-28e4-4a18-9128-bd769729df97",
          "name": "Mark Preflight Blocked",
          "type": "n8n-nodes-base.notion",
          "typeVersion": 2.2,
          "position": [
            960,
            368
          ],
          "parameters": {
            "resource": "databasePage",
            "operation": "update",
            "pageId": {
              "__rl": true,
              "value": "={{ $json.call_page_id }}",
              "mode": "id"
            },
            "simple": false,
            "propertiesUi": {
              "propertyValues": [
                {
                  "key": "Call Status|status",
                  "statusValue": "={{ $json.preflight_blocked_status }}"
                },
                {
                  "key": "Voice Error|rich_text",
                  "textContent": "={{ $json.preflight_reason }}"
                }
              ]
            },
            "options": {}
          }
        }
      ],
      "activeVersion": {
        "nodes": [
          {
            "id": "3783ea12-dc41-4a4b-9db3-cdbefcfbdb9c",
            "name": "Sticky Note 0094abdf",
            "type": "n8n-nodes-base.stickyNote",
            "typeVersion": 1,
            "position": [
              -1170,
              -450
            ],
            "parameters": {
              "content": "Runs reviewed and approved Notion Calls through ElevenLabs. Startup context is rebuilt as a plain-text brief with direct Company/Individual/Contact summaries and tax registration/reference context; raw JSON blobs are stripped before the outbound call. Other approved context categories must be fetched on demand through the separate RB Calls Context Lookup webhook tool. Routine call starts, blockers, and state changes are recorded in Notion only; Slack is reserved for live human-help requests.",
              "color": 5,
              "width": 7200,
              "height": 900
            }
          },
          {
            "id": "76526216-a117-4d54-a622-ae860c04a8de",
            "name": "Every 15 minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
              -1120,
              0
            ],
            "parameters": {
              "rule": {
                "interval": [
                  {
                    "field": "minutes",
                    "minutesInterval": 15
                  }
                ]
              }
            }
          },
          {
            "id": "4f387f89-ddc7-4f8a-bf63-f1efcfc3f355",
            "name": "Get Reviewed Calls",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              -880,
              0
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "getAll",
              "databaseId": {
                "__rl": true,
                "value": "342e4130-1314-8012-964a-d969a860dd93",
                "mode": "id",
                "cachedResultName": "Calls"
              },
              "returnAll": true,
              "simple": false,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": {
                "conditions": [
                  {
                    "key": "Call Status|status",
                    "condition": "equals",
                    "statusValue": "Reviewed"
                  },
                  {
                    "key": "Approved|checkbox",
                    "condition": "equals",
                    "checkboxValue": true
                  }
                ]
              },
              "options": {}
            },
            "alwaysOutputData": true
          },
          {
            "id": "3feae577-4587-4934-97cf-86e798223aa7",
            "name": "Done",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
              -368,
              -256
            ],
            "parameters": {}
          },
          {
            "id": "77363a38-78b2-4632-a588-8ee9a7c95c68",
            "name": "Preflight Call Lock",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              -368,
              0
            ],
            "parameters": {
              "mode": "runOnceForEachItem",
              "language": "javaScript",
              "jsCode": "const call = $json || {};\nfunction prop(page, name) { return page?.properties?.[name] || {}; }\nfunction relationIds(page, name) { return (prop(page, name).relation || []).map((rel) => rel.id).filter(Boolean); }\nfunction checkbox(page, name) { return Boolean(prop(page, name).checkbox); }\nfunction select(page, name) { const value = prop(page, name); return value.status?.name || value.select?.name || ''; }\nfunction uniqueId(page) { const value = prop(page, 'ID').unique_id; return value ? [value.prefix, value.number].filter((part) => part !== undefined && part !== null && String(part) !== '').join('-') : page.id; }\nfunction dateValue(page, name) { return prop(page, name).date?.start || ''; }\nfunction richText(value) { return (value.title || value.rich_text || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nfunction text(page, name) { return richText(prop(page, name)); }\nfunction people(page, name) { return prop(page, name).people || []; }\nfunction personName(person) { return person?.name || person?.person?.email || person?.id || ''; }\nconst reviewer = people(call, 'Reviewer')[0];\nconst submitter = people(call, 'Submitter')[0];\nconst owner = reviewer || submitter || null;\nconst ownerRole = reviewer ? 'Reviewer' : (submitter ? 'Submitter' : 'Unresolved');\nconst ownerName = personName(owner);\nconst messageTopic = text(call, 'Short reason') || text(call, 'Reason for call') || text(call, 'Main question') || 'Call execution';\nconst status = select(call, 'Call Status');\nconst approved = checkbox(call, 'Approved');\nconst companyIds = relationIds(call, 'Company');\nconst individualIds = relationIds(call, 'Individual');\nconst contactIds = relationIds(call, 'Contact');\nconst now = new Date();\nconst nowIso = now.toISOString();\nconst lastAttemptAt = dateValue(call, 'Last Call Attempt At');\nconst lastAttemptMs = Date.parse(lastAttemptAt);\nconst freshLock = status === 'Call Started' && Number.isFinite(lastAttemptMs) && now.getTime() - lastAttemptMs < 20 * 60 * 1000;\nconst blockedReasons = [];\nif (companyIds.length === 0) blockedReasons.push('Missing Company relation.');\nif (individualIds.length === 0) blockedReasons.push('Missing Individual relation.');\nif (contactIds.length === 0) blockedReasons.push('Missing Contact relation.');\nlet action = 'claim';\nlet reason = '';\nif (freshLock) { action = 'skip'; reason = 'Fresh Call Started lock exists from ' + lastAttemptAt + '.'; }\nelse if (status !== 'Reviewed' || !approved) { action = 'skip'; reason = 'Call is no longer eligible. Current status=' + (status || 'unknown') + ', approved=' + approved + '.'; }\nelse if (blockedReasons.length > 0) { action = 'blocked'; reason = blockedReasons.join(' '); }\nconst retryCount = Number(prop(call, 'Retry Count').number || 0) + 1;\nconst executionId = typeof $execution !== 'undefined' && $execution.id ? String($execution.id) : 'manual';\nconst lockToken = ['rb-call-lock', call.id || 'call', now.getTime(), executionId].join(':');\nreturn { call_page_id: call.id || '', call_url: call.url || '', call_public_id: uniqueId(call), message_topic: messageTopic, owner_role: ownerRole, owner_name: ownerName, owner_notion_user_id: owner?.id || '', preflight_action: action, preflight_ready: action === 'claim', skip_call: action === 'skip', preflight_blocked: action === 'blocked', preflight_reason: reason, preflight_blocked_status: 'Rejected', company_page_id: companyIds[0] || '', individual_page_id: individualIds[0] || '', contact_page_id: contactIds[0] || '', retry_count: retryCount, attempt_started_at: nowIso, attempt_lock_token: lockToken };"
            }
          },
          {
            "id": "1086f6ea-7570-491e-adaf-5e6df7ca827a",
            "name": "Get Call Owner",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              -112,
              0
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "getAll",
              "databaseId": {
                "__rl": true,
                "value": "af0b9bfa-93c2-4689-b588-fe87fe4ff79e",
                "mode": "id",
                "cachedResultName": "People Directory"
              },
              "returnAll": false,
              "limit": 1,
              "simple": false,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": {
                "conditions": [
                  {
                    "key": "Full Name|title",
                    "condition": "equals",
                    "titleValue": "={{ $(\"Preflight Call Lock\").item.json.owner_name || \"__owner_not_resolved__\" }}"
                  }
                ]
              },
              "options": {}
            },
            "alwaysOutputData": true
          },
          {
            "id": "7b6a03ed-2ff6-4764-8be9-5bb6ea3ef0fd",
            "name": "Attach Owner Routing",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              144,
              0
            ],
            "parameters": {
              "mode": "runOnceForEachItem",
              "language": "javaScript",
              "jsCode": "const lock = $('Preflight Call Lock').item.json;\nconst ownerPage = $json || {};\nfunction text(page, name) { const value = page?.properties?.[name] || {}; return (value.title || value.rich_text || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nconst ownerDirectoryName = text(ownerPage, 'Full Name');\nconst rawSlackId = text(ownerPage, 'Slack Member ID');\nconst slackId = rawSlackId.replace(/[<@>]/g, '').trim();\nconst ownerLabel = lock.owner_name || ownerDirectoryName || 'owner not resolved';\nconst ownerMention = slackId ? '<@' + slackId + '>' : (ownerLabel ? ownerLabel + ' (Slack ID not resolved)' : 'owner not resolved');\nreturn { ...lock, owner_label: ownerLabel, owner_slack_member_id: slackId, owner_mention: ownerMention, owner_routing_source: slackId ? 'People Directory' : 'Notion person fallback' };"
            }
          },
          {
            "id": "54e7b510-076d-47a1-847d-1fa0876d8604",
            "name": "Preflight Ready To Claim?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
              400,
              0
            ],
            "parameters": {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "preflight-ready",
                    "leftValue": "={{ $json.preflight_ready }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "options": {}
            }
          },
          {
            "id": "e9c4e391-9913-4ab6-8491-093570760a6f",
            "name": "Claim Call Attempt Lock",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              672,
              -128
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "update",
              "pageId": {
                "__rl": true,
                "value": "={{ $json.call_page_id }}",
                "mode": "id"
              },
              "simple": false,
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "Call Status|status",
                    "statusValue": "Call Started"
                  },
                  {
                    "key": "Last Call Attempt At|date",
                    "date": "={{ $json.attempt_started_at }}"
                  },
                  {
                    "key": "Retry Count|number",
                    "numberValue": "={{ $json.retry_count }}"
                  },
                  {
                    "key": "Live Help Status|select",
                    "selectValue": "None"
                  },
                  {
                    "key": "ElevenLabs Conversation ID|rich_text",
                    "textContent": ""
                  },
                  {
                    "key": "Twilio Call SID|rich_text",
                    "textContent": ""
                  },
                  {
                    "key": "Voice Error|rich_text",
                    "textContent": "={{ $json.attempt_lock_token }}"
                  }
                ]
              },
              "options": {}
            }
          },
          {
            "id": "bbcb2b2e-b10a-40dc-8629-290fdf2e6c8d",
            "name": "Re-read Call Lock",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              960,
              -128
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "get",
              "pageId": {
                "__rl": true,
                "value": "={{ $(\"Attach Owner Routing\").item.json.call_page_id }}",
                "mode": "id"
              },
              "simple": false
            },
            "alwaysOutputData": true
          },
          {
            "id": "25172252-14b3-468e-92a1-91c39754f843",
            "name": "Verify Claimed Lock",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              1232,
              -128
            ],
            "parameters": {
              "mode": "runOnceForEachItem",
              "language": "javaScript",
              "jsCode": "const lock = $('Attach Owner Routing').item.json;\nconst page = $json || {};\nfunction prop(page, name) { return page?.properties?.[name] || {}; }\nfunction text(page, name) { const value = prop(page, name); return (value.rich_text || value.title || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nfunction select(page, name) { const value = prop(page, name); return value.status?.name || value.select?.name || ''; }\nconst currentStatus = select(page, 'Call Status');\nconst voiceError = text(page, 'Voice Error');\nconst verified = currentStatus === 'Call Started' && voiceError.includes(lock.attempt_lock_token);\nreturn { ...lock, lock_verified: verified, lock_skip_reason: verified ? '' : 'Attempt lock was lost before dialing. Current status=' + (currentStatus || 'unknown') + '.', current_call_status: currentStatus };"
            }
          },
          {
            "id": "8bd5aff0-2e24-4908-89c3-450a365d2a33",
            "name": "Lock Still Ours?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
              1488,
              -128
            ],
            "parameters": {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "lock-verified",
                    "leftValue": "={{ $json.lock_verified }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "options": {}
            }
          },
          {
            "id": "13b6ff24-5fbe-4404-8a4b-a88d12cfafa2",
            "name": "Get Company",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              1776,
              -416
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "get",
              "pageId": {
                "__rl": true,
                "value": "={{ $(\"Attach Owner Routing\").item.json.company_page_id }}",
                "mode": "id"
              },
              "simple": false
            },
            "alwaysOutputData": true
          },
          {
            "id": "24f66edd-9e0e-4972-9b63-8e5578d5b433",
            "name": "Get Individual",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              2032,
              -416
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "get",
              "pageId": {
                "__rl": true,
                "value": "={{ $(\"Attach Owner Routing\").item.json.individual_page_id }}",
                "mode": "id"
              },
              "simple": false
            },
            "alwaysOutputData": true
          },
          {
            "id": "a2f8a191-31f6-4d7a-b7df-b9bc948cad39",
            "name": "Get Contact",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              2288,
              -416
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "get",
              "pageId": {
                "__rl": true,
                "value": "={{ $(\"Attach Owner Routing\").item.json.contact_page_id }}",
                "mode": "id"
              },
              "simple": false
            },
            "alwaysOutputData": true
          },
          {
            "id": "2cd29933-4af4-4012-b85d-97a287f23385",
            "name": "Get Filing Registrations",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              2544,
              -416
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "getAll",
              "databaseId": {
                "__rl": true,
                "value": "ecaf96a4-cf77-409a-b481-aaf317442b74",
                "mode": "id",
                "cachedResultName": "Filing Registrations"
              },
              "returnAll": true,
              "simple": false,
              "filterType": "manual",
              "matchType": "allFilters",
              "filters": {
                "conditions": [
                  {
                    "key": "💼 Company|relation",
                    "condition": "={{ \"contains\" }}",
                    "relationValue": "={{ $(\"Attach Owner Routing\").item.json.company_page_id }}"
                  }
                ]
              },
              "options": {}
            },
            "executeOnce": true,
            "alwaysOutputData": true
          },
          {
            "id": "654faee5-61fe-4d83-b0b9-7116010d7b82",
            "name": "Build Voice Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              4592,
              -256
            ],
            "parameters": {
              "mode": "runOnceForAllItems",
              "language": "javaScript",
              "jsCode": "function rawNodeItems(nodeName) {\n  const output = [];\n  if (typeof $items !== 'function') return output;\n  for (let runIndex = 0; runIndex < 1000; runIndex += 1) {\n    try {\n      const items = $items(nodeName, 0, runIndex);\n      if (!Array.isArray(items) || items.length === 0) {\n        if (runIndex > 0) break;\n        continue;\n      }\n      output.push(...items.map((item) => item.json).filter(Boolean));\n    } catch (error) {\n      break;\n    }\n  }\n  return output;\n}\nfunction firstNodeItem(nodeName) { return rawNodeItems(nodeName)[0] || {}; }\nconst lock = firstNodeItem('Attach Owner Routing');\nconst call = firstNodeItem('Re-read Call Lock');\nconst company = firstNodeItem('Get Company');\nconst individual = firstNodeItem('Get Individual');\nconst contact = firstNodeItem('Get Contact');\nfunction pageItems(nodeName) { return rawNodeItems(nodeName).filter((page) => page && page.id && page.properties); }\nfunction nodeItems(nodeName) { return rawNodeItems(nodeName); }\nconst filingRegistrations = pageItems('Get Filing Registrations');\nconst taxPayments = pageItems('Get Tax Payments');\nconst taxPrepayments = pageItems('Get Tax Prepayments');\nfunction inferRecordCategory(record) {\n  const hay = String(record?.source_relation_property || '').toLowerCase();\n  if (/call notes?/.test(hay)) return 'call_notes';\n  if (/correspond|letter|mail|finanzamt/.test(hay)) return 'correspondence';\n  if (/contract|agreement|engagement/.test(hay)) return 'contracts';\n  if (/bank account|bank details|iban/.test(hay)) return 'bank_accounts';\n  if (/tax payment|tax payments|prepayment|prepayments/.test(hay)) return 'tax_payments_prepayments';\n  if (/tax registration|filing registration|registration/.test(hay)) return 'tax_registrations';\n  if (/tax filing|tax filings|filings|filing|return|returns/.test(hay)) return 'tax_filings';\n  if (/asset|assets/.test(hay)) return 'assets';\n  return '';\n}\nconst allowedLinkedCategories = new Set(['tax_registrations', 'tax_filings', 'contracts', 'correspondence', 'bank_accounts', 'tax_payments_prepayments', 'assets', 'call_notes']);\nfunction dedupeRecords(records) {\n  const seen = new Set();\n  return records.filter((record) => {\n    const key = [record.context_category || '', record.page_id || '', record.title || ''].join('|');\n    if (seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n}\nconst linkedRecords = dedupeRecords(nodeItems('Normalize Linked Record')\n  .map((item) => item.linked_record)\n  .filter(Boolean)\n  .map((record) => ({ ...record, context_category: record.context_category || inferRecordCategory(record) }))\n  .filter((record) => allowedLinkedCategories.has(record.context_category)));\nfunction prop(page, name) { return page?.properties?.[name] || {}; }\nfunction richTextValue(value) { return (value?.title || value?.rich_text || []).map((part) => part.plain_text || part.text?.content || '').join('').trim(); }\nfunction title(page, name) { return richTextValue(prop(page, name)); }\nfunction formulaValue(formula) { if (!formula || typeof formula !== 'object') return ''; if (formula.string !== undefined && formula.string !== null) return String(formula.string); if (formula.number !== undefined && formula.number !== null) return String(formula.number); if (formula.boolean !== undefined && formula.boolean !== null) return String(formula.boolean); if (formula.date?.start) return formula.date.start; return ''; }\nfunction simplifyProperty(value) { if (!value || typeof value !== 'object') return value; if (value.title) return richTextValue(value); if (value.rich_text) return richTextValue(value); if (value.select) return value.select.name; if (value.status) return value.status.name; if (value.multi_select) return value.multi_select.map((item) => item.name); if (typeof value.checkbox === 'boolean') return value.checkbox; if (typeof value.number === 'number') return value.number; if (value.date) return value.date?.start || value.date; if (value.phone_number) return value.phone_number; if (value.email) return value.email; if (value.url) return value.url; if (value.files) return undefined; if (value.relation) return value.relation.map((rel) => rel.id); if (value.people) return value.people.map((person) => ({ id: person.id, name: person.name || '', email: person.person?.email || '' })); if (value.unique_id) return value.unique_id; if (value.formula) return formulaValue(value.formula); if (value.rollup) return rollupValue(value.rollup); return undefined; }\nfunction rollupValue(rollup) { if (!rollup || typeof rollup !== 'object') return ''; if (Array.isArray(rollup.array)) return rollup.array.map((entry) => simplifyProperty(entry)).filter((value) => value !== undefined && value !== '').flat().join(', '); if (rollup.number !== undefined && rollup.number !== null) return String(rollup.number); if (rollup.date?.start) return rollup.date.start; return ''; }\nfunction text(page, name) { const value = prop(page, name); if (!value || typeof value !== 'object') return ''; if (value.type === 'title' || value.title) return richTextValue(value); if (value.type === 'rich_text' || value.rich_text) return richTextValue(value); if (value.type === 'phone_number' || value.phone_number) return value.phone_number || ''; if (value.type === 'email' || value.email) return value.email || ''; if (value.type === 'url' || value.url) return value.url || ''; if (value.type === 'formula' || value.formula) return formulaValue(value.formula); if (value.type === 'rollup' || value.rollup) return rollupValue(value.rollup); return ''; }\nfunction checkbox(page, name) { return Boolean(prop(page, name).checkbox); }\nfunction number(page, name) { const value = prop(page, name); return typeof value.number === 'number' ? value.number : null; }\nfunction select(page, name) { const value = prop(page, name); return value.select?.name || value.status?.name || ''; }\nfunction multiSelect(page, name) { return (prop(page, name).multi_select || []).map((item) => item.name); }\nfunction files(page, name) { return (prop(page, name).files || []).map((file) => ({ name: file.name || '', type: file.type || '' })); }\nfunction relationIds(page, name) { return (prop(page, name).relation || []).map((rel) => rel.id); }\nfunction dateText(page, name) { return prop(page, name).date?.start || ''; }\nfunction compactObject(input) { const output = {}; for (const [key, value] of Object.entries(input)) { if (value === undefined || value === null || value === '') continue; if (Array.isArray(value) && value.length === 0) continue; output[key] = value; } return output; }\nfunction pageTitleFromProperties(page) {\n  for (const value of Object.values(page?.properties || {})) {\n    if (value?.title) {\n      const valueText = richTextValue(value);\n      if (valueText) return valueText;\n    }\n  }\n  return page?.id || '';\n}\nfunction normalizedPageJson(page, label) {\n  const properties = {};\n  let filePropertyCount = 0;\n  let relationPropertyCount = 0;\n  for (const [key, value] of Object.entries(page?.properties || {})) {\n    if (value?.files) filePropertyCount += value.files.length;\n    if (value?.relation) relationPropertyCount += value.relation.length;\n    const simplified = simplifyProperty(value);\n    if (simplified !== undefined && simplified !== '') properties[key] = simplified;\n  }\n  return compactObject({\n    page_id: page?.id || '',\n    url: page?.url || '',\n    title: pageTitleFromProperties(page),\n    label,\n    created_time: page?.created_time || '',\n    last_edited_time: page?.last_edited_time || '',\n    file_property_count: filePropertyCount,\n    relation_property_count: relationPropertyCount,\n    properties,\n  });\n}\nfunction publicCompanyContext(page) { return compactObject({ legal_name: title(page, 'Legal Name') || title(page, 'Name'), reference: text(page, 'Reference'), register_number: text(page, 'Register Number'), incorporated_in: text(page, 'Incorporated in'), tax_residence: text(page, 'Tax Residence'), company_email: text(page, 'Company Email'), german_vat_number: text(page, 'German VAT No ') || text(page, 'German VAT No'), unique_taxpayer_reference: text(page, 'Unique Taxpayer Reference (UTR)'), tain: text(page, 'TAIN') }); }\nfunction publicIndividualContext(page) { return compactObject({ name: [title(page, 'First name'), text(page, 'Last Name')].filter(Boolean).join(' ').trim() || title(page, 'Name'), email: text(page, 'Email'), phone: text(page, 'Phone'), tax_residence: text(page, 'Tax Residence'), nationality: text(page, 'Nationality') }); }\nfunction publicContactContext(page) { return compactObject({ name: title(page, 'Name'), phone: text(page, 'Phone'), email: text(page, 'Email'), website: text(page, 'Website'), location: text(page, 'Location'), languages: multiSelect(page, 'Language(s)'), purpose: text(page, 'Purpose') }); }\nfunction referenceFromRegistrationTitle(value) {\n  const matches = String(value || '').match(/[A-Z]{0,4}[0-9][A-Z0-9]{4,}/gi) || [];\n  return matches[0] || '';\n}\nfunction registrationSummary(page) {\n  const name = title(page, 'Name');\n  return compactObject({ name, type: select(page, 'Type'), jurisdiction: select(page, 'Jurisdiction'), status: select(page, 'Status'), reference_number: text(page, 'Company/Tax/Filing Number') || referenceFromRegistrationTitle(name), tax_payment_reference: text(page, 'Tax Payment Reference'), prepayment_payment_reference: text(page, 'Prepayment Payment Reference'), filing_cadence: select(page, 'Filing Cadence'), tax_payment_cadence: select(page, 'Tax Payment Cadence'), first_filing_date: dateText(page, 'First Filing Date'), due_date: dateText(page, 'Due Date'), transfer_payment_to: text(page, 'Transfer Prepayment / Payment To'), comments: text(page, 'Comments'), registration_file_count: files(page, 'Registration').length, deregistration_file_count: files(page, 'Deregistration').length });\n}\nfunction paymentSummary(page) { return compactObject({ name: title(page, 'Name'), status: select(page, 'Status (Do not touch!)'), amount: number(page, 'Payment'), due_date: dateText(page, 'Due Date'), payment_reference: text(page, 'Payment Refrence'), related_company: text(page, 'Related Company'), transfer_to_bank_details: text(page, 'Transfer to bank details'), document_count: files(page, 'Document').length, proof_count: files(page, 'Proof of payment').length }); }\nfunction prepaymentSummary(page) { return compactObject({ name: title(page, 'Name'), status: select(page, 'Status'), amount: number(page, 'Payment'), due_date: dateText(page, 'Due Date'), payment_reference: text(page, 'Payment Refrence') || text(page, 'Base payment reference'), cadence: text(page, 'Cadence'), transfer_payment_to: text(page, 'Transfer payment to'), document_count: files(page, 'Document').length, proof_count: files(page, 'Proof of payment').length }); }\nfunction relationCoverage(records) {\n  const byRelation = {};\n  const bySource = {};\n  for (const record of records) {\n    const relation = record.source_relation_property || 'unknown';\n    const source = record.source_page_label || 'unknown';\n    byRelation[relation] = (byRelation[relation] || 0) + 1;\n    bySource[source] = (bySource[source] || 0) + 1;\n  }\n  return { by_relation_property: byRelation, by_source_page_label: bySource };\n}\nfunction findDateInRecord(record) {\n  const candidates = [];\n  for (const [key, value] of Object.entries(record.properties || {})) {\n    const keyLower = key.toLowerCase();\n    const maybeDate = typeof value === 'string' ? value : '';\n    if ((keyLower.includes('date') || keyLower.includes('received') || keyLower.includes('sent') || keyLower.includes('created')) && maybeDate) candidates.push(maybeDate);\n  }\n  candidates.push(record.created_time || '', record.last_edited_time || '');\n  return candidates.find((value) => Number.isFinite(Date.parse(value))) || '';\n}\nfunction isCorrespondence(record) {\n  const hay = [record.title, record.source_relation_property, record.source_page_title, Object.keys(record.properties || {}).join(' ')].join(' ').toLowerCase();\n  return hay.includes('correspond') || hay.includes('letter') || hay.includes('mail') || hay.includes('finanzamt');\n}\nfunction valueContainsId(value, id) {\n  if (!id || value === undefined || value === null) return false;\n  if (typeof value === 'string') return value === id;\n  if (Array.isArray(value)) return value.some((entry) => valueContainsId(entry, id));\n  if (typeof value === 'object') return Object.values(value).some((entry) => valueContainsId(entry, id));\n  return false;\n}\nfunction valueHasUuid(value) {\n  const textValue = typeof value === 'string' ? value : JSON.stringify(value || '');\n  return /[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/i.test(textValue);\n}\nfunction recordMatchesSubjectCompany(record) {\n  if (record.context_category === 'call_notes') return true;\n  const companyId = lock.company_page_id || '';\n  if (!companyId) return true;\n  let sawCompanyRelation = false;\n  for (const [key, value] of Object.entries(record.properties || {})) {\n    const keyLower = key.toLowerCase();\n    if (!keyLower.includes('company') && !key.includes('💼')) continue;\n    if (!valueHasUuid(value)) continue;\n    sawCompanyRelation = true;\n    if (valueContainsId(value, companyId)) return true;\n  }\n  return !sawCompanyRelation;\n}\nfunction limitLinkedRecords(records) {\n  const limits = { tax_registrations: 20, tax_filings: 24, contracts: 12, correspondence: 12, bank_accounts: 10, tax_payments_prepayments: 24, assets: 12, call_notes: 8 };\n  const counts = {};\n  const sorted = records\n    .filter(recordMatchesSubjectCompany)\n    .sort((a, b) => Date.parse(findDateInRecord(b) || 0) - Date.parse(findDateInRecord(a) || 0));\n  return sorted.filter((record) => {\n    const category = record.context_category || 'other';\n    const limit = limits[category] || 8;\n    counts[category] = counts[category] || 0;\n    if (counts[category] >= limit) return false;\n    counts[category] += 1;\n    return true;\n  });\n}\nconst subjectLinkedRecords = limitLinkedRecords(linkedRecords);\nconst companyContext = publicCompanyContext(company);\nconst individualContext = publicIndividualContext(individual);\nconst contactContext = publicContactContext(contact);\nconst companyFullJson = normalizedPageJson(company, 'Company');\nconst individualFullJson = normalizedPageJson(individual, 'Individual');\nconst contactFullJson = normalizedPageJson(contact, 'Contact');\nconst registrationSummaries = filingRegistrations.map(registrationSummary).filter((item) => Object.keys(item).length);\nconst paymentSummaries = taxPayments.map(paymentSummary).filter((item) => Object.keys(item).length);\nconst prepaymentSummaries = taxPrepayments.map(prepaymentSummary).filter((item) => Object.keys(item).length);\nconst taxReferences = [];\nfunction addTaxReference(input) { const value = String(input.value || '').trim(); if (!value) return; const key = [input.kind || '', input.jurisdiction || '', input.type || '', value].join('|').toLowerCase(); if (taxReferences.some((entry) => entry.key === key)) return; taxReferences.push(compactObject({ key, kind: input.kind, type: input.type, jurisdiction: input.jurisdiction, value, status: input.status, label: input.label, caution: input.caution })); }\naddTaxReference({ kind: 'company_register', type: 'Company registration number', jurisdiction: companyContext.incorporated_in, value: companyContext.register_number, status: 'public company identifier' });\naddTaxReference({ kind: 'company_tax', type: 'German V-A-T number', jurisdiction: 'DE', value: companyContext.german_vat_number, status: 'direct company field' });\naddTaxReference({ kind: 'company_tax', type: 'Unique Taxpayer Reference', jurisdiction: companyContext.tax_residence, value: companyContext.unique_taxpayer_reference, status: 'direct company field' });\naddTaxReference({ kind: 'company_tax', type: 'T-A-I-N', jurisdiction: companyContext.tax_residence, value: companyContext.tain, status: 'direct company field' });\nfor (const item of registrationSummaries) { addTaxReference({ kind: 'registration', type: item.type, jurisdiction: item.jurisdiction, value: item.reference_number, status: item.status, label: item.name, caution: item.jurisdiction === 'DE' && item.status !== 'Registered' ? 'Do not describe as active unless the authority confirms it.' : '' }); addTaxReference({ kind: 'payment_reference', type: item.type + ' payment reference', jurisdiction: item.jurisdiction, value: item.tax_payment_reference, status: item.status, label: item.name }); addTaxReference({ kind: 'prepayment_reference', type: item.type + ' prepayment reference', jurisdiction: item.jurisdiction, value: item.prepayment_payment_reference, status: item.status, label: item.name }); }\nfor (const item of paymentSummaries) addTaxReference({ kind: 'payment_reference', type: 'Tax payment reference', jurisdiction: '', value: item.payment_reference, status: item.status, label: item.name });\nfor (const item of prepaymentSummaries) addTaxReference({ kind: 'prepayment_reference', type: 'Tax prepayment reference', jurisdiction: '', value: item.payment_reference, status: item.status, label: item.name });\nconst cleanTaxReferences = taxReferences.map(({ key, ...rest }) => rest);\nconst taxReferenceSummaryText = cleanTaxReferences.length ? cleanTaxReferences.map((entry) => [entry.jurisdiction, entry.type, entry.value, entry.status ? '(' + entry.status + ')' : '', entry.caution || ''].filter(Boolean).join(' - ')).join(String.fromCharCode(10)) : 'No tax or authority reference number was found in the company, registration, payment, or prepayment records. Ask the call creator for the missing reference before guessing.';\nconst correspondenceRecords = subjectLinkedRecords.map((record) => ({ ...record, correspondence_date: findDateInRecord(record) })).filter((record) => record.context_category === 'correspondence' || isCorrespondence(record)).sort((a, b) => Date.parse(b.correspondence_date || 0) - Date.parse(a.correspondence_date || 0));\nconst latestCorrespondence = correspondenceRecords[0] || null;\nconst correspondenceContext = { count: correspondenceRecords.length, latest: latestCorrespondence, records: correspondenceRecords };\nconst latestCorrespondenceText = latestCorrespondence ? ['Latest correspondence/background date: ' + latestCorrespondence.correspondence_date, 'Record: ' + latestCorrespondence.title, 'From context: ' + [latestCorrespondence.source_page_label, latestCorrespondence.source_relation_property].filter(Boolean).join(' / ')].filter(Boolean).join(' - ') : 'No correspondence metadata was found in fetched background records.';\nfunction stringValue(value, maxLength) {\n  if (value === undefined || value === null || value === '') return '';\n  const text = typeof value === 'string' ? value : JSON.stringify(value);\n  return text.length > maxLength ? text.slice(0, maxLength - 3) + '...' : text;\n}\nfunction summarizeCallNote(record) {\n  const properties = record.properties || {};\n  return compactObject({\n    date: findDateInRecord(record),\n    title: record.title || '',\n    event_type: stringValue(properties['Event Type'], 120),\n    outcome_status: stringValue(properties['Outcome Status'], 120),\n    summary: stringValue(properties.Summary || properties.Outcome, 1200),\n    help_question: stringValue(properties['Help Question'], 800),\n    help_answer: stringValue(properties['Help Answer'], 800),\n    conversation_id: stringValue(properties['ElevenLabs Conversation ID'], 160),\n    transcript_excerpt: stringValue(properties.Transcript, 1200),\n  });\n}\nconst callNoteRecords = subjectLinkedRecords.filter((record) => record.context_category === 'call_notes');\nconst callNoteSummaries = callNoteRecords.map(summarizeCallNote);\nconst callNotesText = callNoteSummaries.length\n  ? callNoteSummaries.map((note, index) => {\n    const lines = ['Call note ' + (index + 1) + ': ' + (note.title || 'Untitled')];\n    if (note.date) lines.push('Date: ' + note.date);\n    if (note.event_type) lines.push('Type: ' + note.event_type);\n    if (note.outcome_status) lines.push('Outcome: ' + note.outcome_status);\n    if (note.summary) lines.push('Summary: ' + note.summary);\n    if (note.help_question) lines.push('Help question: ' + note.help_question);\n    if (note.help_answer) lines.push('Help answer: ' + note.help_answer);\n    if (note.transcript_excerpt) lines.push('Transcript excerpt: ' + note.transcript_excerpt);\n    return lines.join(String.fromCharCode(10));\n  }).join(String.fromCharCode(10) + String.fromCharCode(10))\n  : 'No attached call notes were fetched.';\nconst linkedRecordLines = subjectLinkedRecords.filter((record) => record.context_category !== 'call_notes').map((record) => {\n  const date = findDateInRecord(record);\n  return [record.context_category, date, record.title, record.source_relation_property ? 'via ' + record.source_relation_property : '', record.source_page_title ? 'from ' + record.source_page_title : ''].filter(Boolean).join(' - ');\n}).join(String.fromCharCode(10));\nconst subjectRaw = select(call, 'Subject');\nconst subject = subjectRaw === 'Company' ? 'Company' : 'Individual';\nconst poaRequired = checkbox(call, 'Requires PoA?');\nconst companyPoa = files(company, 'Company PoA');\nconst individualPoa = files(individual, 'Individual PoA');\nconst poaFiles = subject === 'Company' ? companyPoa : individualPoa;\nconst poaValid = !poaRequired || poaFiles.length > 0;\nconst relationValid = !company?.id || !individual?.id || JSON.stringify(company.properties || {}).includes(individual.id);\nconst phoneNumber = text(contact, 'Phone').replace(/[^+0-9]/g, '');\nconst languages = multiSelect(contact, 'Language(s)');\nconst normalizedLanguages = languages.map((entry) => String(entry || '').toLowerCase());\nconst hasGerman = normalizedLanguages.some((entry) => entry.includes('german') || entry.includes('deutsch') || entry === 'de');\nconst language = hasGerman ? 'German (Deutsch)' : 'English';\nconst languageCode = hasGerman ? 'de' : 'en';\nconst agentPhoneNumberId = (typeof $vars !== 'undefined' && $vars.ELEVENLABS_AGENT_PHONE_NUMBER_ID ? String($vars.ELEVENLABS_AGENT_PHONE_NUMBER_ID) : '').trim();\nconst companyName = companyContext.legal_name || title(company, 'Legal Name') || title(company, 'Name');\nconst individualName = individualContext.name || [title(individual, 'First name'), text(individual, 'Last Name')].filter(Boolean).join(' ').trim();\nconst contactName = contactContext.name || title(contact, 'Name');\nconst callerName = 'Alexander Gulin';\nconst representativeEntity = 'Richmond Blackwood Limited';\nconst representedSubject = subject === 'Company' ? companyName : individualName;\nconst representativeRole = subject === 'Company' ? 'Company secretary' : 'Representative caller';\nconst representationAuthority = subject === 'Company'\n  ? representativeEntity + ' is the company secretary, which is a representative position for the company. Use this representative position before relying on a Power of Attorney or Vollmacht.'\n  : representativeEntity + ' is assisting with the call on behalf of the individual. Use a Power of Attorney or Vollmacht only when the call is marked as requiring it or the authority specifically requires it.';\nconst poaSpeechRule = poaRequired\n  ? 'Power of Attorney or Vollmacht is marked as required for this call. Use the validated subject-specific PoA context if the authority asks.'\n  : 'Do not lead with Power of Attorney or Vollmacht. Use PoA only as a last resort if the authority specifically requires it for this request.';\nconst callPublicId = lock.call_public_id || call.id;\nconst messageTopic = lock.message_topic || text(call, 'Short reason') || text(call, 'Reason for call') || text(call, 'Main question') || 'Call execution';\nconst reasonForCall = text(call, 'Reason for call');\nconst mainQuestion = text(call, 'Main question');\nconst desiredOutcome = text(call, 'Desired outcome');\nconst owner = { role: lock.owner_role || '', name: lock.owner_label || lock.owner_name || '', slack_member_id: lock.owner_slack_member_id || '', mention: lock.owner_mention || 'owner not resolved', routing_source: lock.owner_routing_source || '' };\nconst relatedContext = { company: companyFullJson, individual: individualFullJson, contact: contactFullJson, allowed_linked_record_categories: Array.from(allowedLinkedCategories), tax_references: cleanTaxReferences, registrations: registrationSummaries.slice(0, 50), tax_payments: paymentSummaries.slice(0, 50), tax_prepayments: prepaymentSummaries.slice(0, 50), call_notes: callNoteSummaries, linked_records: subjectLinkedRecords, correspondence: correspondenceContext, correspondence_records: correspondenceRecords, latest_correspondence: latestCorrespondence, relation_coverage: relationCoverage(subjectLinkedRecords), counts: { registrations: filingRegistrations.length, tax_payments: taxPayments.length, tax_prepayments: taxPrepayments.length, linked_records_raw: linkedRecords.length, linked_records_sent: subjectLinkedRecords.length, correspondence_records: correspondenceRecords.length, call_notes_relation_count: relationIds(call, 'Call Notes').length, call_notes_fetched: callNoteSummaries.length } };\nconst structuredContextJson = JSON.stringify({ company: companyFullJson, individual: individualFullJson, contact: contactFullJson, correspondence: correspondenceContext });\nconst publicSafeBrief = ['Caller name: ' + callerName, 'Call language: ' + language + ' (' + languageCode + ')', representedSubject ? 'After the static greeting, follow the call language. In English say: I am calling on behalf of ' + representedSubject + '. In German say: Ich rufe im Namen von ' + representedSubject + ' an. Do not mention ' + representativeEntity + ' before the represented subject is clear.' : '', 'Represented subject: ' + [representedSubject, subject === 'Company' && companyContext.register_number ? 'company number ' + companyContext.register_number : ''].filter(Boolean).join(', '), 'Representative role: ' + representativeRole + '. ' + representationAuthority, 'Power of Attorney handling: ' + poaSpeechRule, subject === 'Company' && individualName ? 'Relevant person: ' + individualName : '', contactName ? 'Calling: ' + contactName : '', reasonForCall ? 'Reason for call: ' + reasonForCall : '', mainQuestion ? 'Main question: ' + mainQuestion : '', desiredOutcome ? 'Desired outcome: ' + desiredOutcome : '', 'Tax and authority references available if asked:', taxReferenceSummaryText, callNoteSummaries.length ? 'Attached call notes for private background. Use them to avoid repeating past mistakes, but do not mention internal systems, tools, Slack, n8n, ElevenLabs, or workflow/debug details to the authority:' + String.fromCharCode(10) + callNotesText : '', linkedRecordLines ? 'Additional allowed background records:' + String.fromCharCode(10) + linkedRecordLines : '', 'Full direct Company, Individual, Contact, correspondence, and linked-record JSON is available in focused dynamic variables. Use those fields for private reasoning only; do not read JSON keys aloud and do not mention internal source labels.', 'Call handling: spell abbreviations letter by letter. When speaking raw numbers, registration numbers, tax references, or alphanumeric identifiers, preserve the exact value and say it much, much slower than normal speech. Use tiny chunks, clear pauses, and breaks between every chunk. Spell letters one by one with pauses. Do not invent, rewrite, or publicly mention internal formatting rules.', 'Do not describe a German registration as currently active unless the authority confirms it during the call. If a required detail is missing or uncertain, ask the call creator for help instead of guessing.', 'Do not mention internal systems, workflow state, tools, database names, source labels, or private operator notes.'].filter(Boolean).join(String.fromCharCode(10));\nconst privateContext = { generated_at: new Date().toISOString(), call: { id: call.id || '', url: call.url || '', public_id: callPublicId, subject, reason_for_call: reasonForCall, main_question: mainQuestion, desired_outcome: desiredOutcome }, caller: { name: callerName, representative_entity: representativeEntity, represented_subject: representedSubject, representative_role: representativeRole, representation_authority: representationAuthority, poa_speech_rule: poaSpeechRule }, owner, company: companyFullJson, individual: individualFullJson, contact: contactFullJson, company_summary: companyContext, individual_summary: individualContext, contact_summary: contactContext, poa: { required: poaRequired, subject, company_poa_file_count: companyPoa.length, individual_poa_file_count: individualPoa.length, selected_poa_file_count: poaFiles.length, one_file_required: true }, related_context: relatedContext, attempt_lock: { token: lock.attempt_lock_token, started_at: lock.attempt_started_at, retry_count: lock.retry_count } };\nconst linkedContextJson = JSON.stringify(relatedContext);\nconst allLinkedRecordsJson = JSON.stringify(subjectLinkedRecords);\nconst contextPackForVoice = publicSafeBrief.slice(0, 12000);\nconst pastCallNotesForVoice = callNotesText.slice(0, 6000);\nconst blockedReasons = [];\nif (!phoneNumber || !phoneNumber.startsWith('+')) blockedReasons.push('Contact phone number must be present in E.164 format.');\nif (!agentPhoneNumberId) blockedReasons.push('n8n variable ELEVENLABS_AGENT_PHONE_NUMBER_ID is missing.');\nif (!poaValid) blockedReasons.push(subject === 'Company' ? 'Company PoA is required and no Company PoA file is present.' : 'Individual PoA is required and no Individual PoA file is present.');\nif (!relationValid) blockedReasons.push('Individual is not linked to the selected Company.');\nreturn [{ json: { ...lock, ready: blockedReasons.length === 0, blocked_reason: blockedReasons.join(' '), blocked_status: blockedReasons.some((reason) => reason.includes('PoA') || reason.includes('not linked')) ? 'Rejected' : 'Reviewed', retry_count: lock.retry_count, to_number: phoneNumber, message_topic: messageTopic, owner_mention: owner.mention, owner_slack_member_id: owner.slack_member_id, owner_label: owner.name, tax_reference_summary: taxReferenceSummaryText, latest_correspondence_summary: latestCorrespondenceText, correspondence_context_json: JSON.stringify(correspondenceContext), latest_correspondence_json: JSON.stringify(latestCorrespondence || {}), call_notes_summary: callNotesText, related_context_json: linkedContextJson, private_context_json: JSON.stringify(privateContext), context_pack_text: publicSafeBrief.slice(0, 1900), linked_records_raw_count: linkedRecords.length, linked_records_sent_count: subjectLinkedRecords.length, elevenlabs_body: { agent_id: 'agent_2001kq39ea0hf5yb86c4a7hj9gp1', agent_phone_number_id: agentPhoneNumberId || 'MISSING_ELEVENLABS_AGENT_PHONE_NUMBER_ID', to_number: phoneNumber || 'MISSING_CONTACT_PHONE', call_recording_enabled: false, conversation_initiation_client_data: { type: 'conversation_initiation_client_data', conversation_config_override: { agent: { language: languageCode } }, dynamic_variables: { language, language_code: languageCode, caller_name: callerName, representative_entity: representativeEntity, represented_subject: representedSubject, representative_role: representativeRole, representation_authority: representationAuthority, poa_speech_rule: poaSpeechRule, company: companyName, individual: individualName, contact: contactName, reason_for_call: reasonForCall, main_question: mainQuestion, desired_outcome: desiredOutcome, message_topic: messageTopic, owner_name: owner.name, owner_role: owner.role, owner_mention: owner.mention, owner_slack_member_id: owner.slack_member_id, poa_required: poaRequired, poa_validated: poaValid, poa_subject: subject, subject, call_url: call.url, call_id: call.id, call_public_id: callPublicId, live_help_request_id: 'not_started', live_help_slack_thread_ts: 'not_started', live_help_note_page_id: 'not_started', live_help_expires_at: '1970-01-01T00:00:00.000Z', live_help_status: 'not_requested', live_help_answer: 'not_answered', tax_reference_summary: taxReferenceSummaryText, latest_correspondence_summary: latestCorrespondenceText, correspondence_context_json: JSON.stringify(correspondenceContext), latest_correspondence_json: JSON.stringify(latestCorrespondence || {}), call_notes_summary: callNotesText, call_notes_context_json: JSON.stringify(callNoteSummaries), allowed_linked_record_categories: Array.from(allowedLinkedCategories).join(', '), relation_coverage_json: JSON.stringify(relatedContext.relation_coverage), company_context_json: JSON.stringify(companyFullJson), individual_context_json: JSON.stringify(individualFullJson), contact_context_json: JSON.stringify(contactFullJson), company_summary_json: JSON.stringify(companyContext), individual_summary_json: JSON.stringify(individualContext), contact_summary_json: JSON.stringify(contactContext), structured_context_json: structuredContextJson, linked_context_json: linkedContextJson, all_linked_records_json: allLinkedRecordsJson, context_pack: contextPackForVoice, past_call_notes: pastCallNotesForVoice } } } } }];"
            }
          },
          {
            "id": "528bf4c0-78b1-4bd0-85b3-c0f81d81e077",
            "name": "Limit Startup Context",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              4848,
              -256
            ],
            "parameters": {
              "mode": "runOnceForEachItem",
              "language": "javaScript",
              "jsCode": "const payload = { ...($json || {}) };\nconst body = { ...(payload.elevenlabs_body || {}) };\nconst clientData = { ...(body.conversation_initiation_client_data || {}) };\nconst vars = { ...(clientData.dynamic_variables || {}) };\nfunction parseJson(value, fallback) {\n  if (value && typeof value === 'object') return value;\n  if (!value) return fallback;\n  try { return JSON.parse(String(value)); } catch (error) { return fallback; }\n}\nfunction pickTaxFields(pageJson) {\n  const properties = pageJson?.properties || {};\n  const output = {};\n  for (const [key, value] of Object.entries(properties)) {\n    const hay = key.toLowerCase();\n    if (!hay.includes('tax') && !hay.includes('vat') && !hay.includes('v-a-t') && !hay.includes('utr') && !hay.includes('tain') && !hay.includes('steuernummer') && !hay.includes('steuer') && !hay.includes('registration') && !hay.includes('register')) continue;\n    output[key] = value;\n  }\n  return output;\n}\nfunction take(name) {\n  if (Object.prototype.hasOwnProperty.call(vars, name)) return vars[name];\n  return '';\n}\nconst companyJson = parseJson(vars.company_context_json || payload.company_context_json, {});\nconst individualJson = parseJson(vars.individual_context_json || payload.individual_context_json, {});\nconst contactJson = parseJson(vars.contact_context_json || payload.contact_context_json, {});\nconst relatedContext = parseJson(payload.related_context_json || vars.linked_context_json, {});\nconst taxRegistrationContext = {\n  company_tax_registrations: Array.isArray(relatedContext.registrations) ? relatedContext.registrations : [],\n  company_tax_references: Array.isArray(relatedContext.tax_references) ? relatedContext.tax_references : [],\n  company_tax_fields: pickTaxFields(companyJson),\n  individual_tax_fields: pickTaxFields(individualJson),\n};\nconst lookupAllowedCategories = ['tax_registrations', 'tax_filings', 'contracts', 'correspondence', 'bank_accounts', 'tax_payments_prepayments', 'assets', 'call_notes'];\nfunction scalar(value) {\n  if (value === undefined || value === null) return '';\n  if (Array.isArray(value)) return value.map(scalar).filter(Boolean).join(', ');\n  if (typeof value === 'object') return '';\n  return String(value).replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, '').replace(/[ \\t]+/g, ' ').trim();\n}\nfunction asciiText(value) { return String(value || '').replace(/[^\\x09\\x0A\\x0D\\x20-\\x7E]/g, '').replace(/[ \\t]+/g, ' ').trim(); }\nfunction properties(pageJson) { return pageJson && typeof pageJson === 'object' ? (pageJson.properties || {}) : {}; }\nfunction line(label, value) {\n  const text = scalar(value);\n  return text ? label + ': ' + text : '';\n}\nfunction pageLine(label, pageJson, keys) {\n  const props = properties(pageJson);\n  const lines = [line(label + ' name', pageJson.title)];\n  for (const key of keys) lines.push(line(label + ' ' + key, props[key]));\n  return lines.filter(Boolean);\n}\nfunction objectLines(prefix, input, limit = 20) {\n  const output = [];\n  for (const [key, value] of Object.entries(input || {})) {\n    const text = scalar(value);\n    if (!text) continue;\n    output.push(prefix + ' ' + key + ': ' + text);\n    if (output.length >= limit) break;\n  }\n  return output;\n}\nfunction registrationLines(items) {\n  return (Array.isArray(items) ? items : []).slice(0, 12).map((item, index) => [\n    'Tax registration ' + (index + 1),\n    scalar(item.jurisdiction),\n    scalar(item.type),\n    scalar(item.reference_number),\n    scalar(item.status),\n  ].filter(Boolean).join(' - '));\n}\nconst plainStartupLines = [\n  ...pageLine('Company', companyJson, ['Legal Name', 'Reference', 'Register Number', 'Incorporated in', 'Tax Residence', 'German VAT No ', 'German VAT No', 'Unique Taxpayer Reference (UTR)', 'TAIN']),\n  ...registrationLines(taxRegistrationContext.company_tax_registrations),\n  ...objectLines('Company tax field', taxRegistrationContext.company_tax_fields, 16),\n  ...objectLines('Individual tax field', taxRegistrationContext.individual_tax_fields, 16),\n  ...pageLine('Individual', individualJson, ['First name', 'Last Name', 'Email', 'Phone', 'Tax Residence', 'Nationality']),\n  ...pageLine('Contact', contactJson, ['Name', 'Phone', 'Email', 'Website', 'Location', 'Language(s)', 'Purpose']),\n];\nconst startupBrief = [\n  'Startup context includes this plain text summary plus direct Company, Individual, Contact, and tax-registration JSON variables for private reasoning.',\n  'Caller name: ' + take('caller_name'),\n  'Call language: ' + take('language'),\n  'Represented subject: ' + take('represented_subject'),\n  'Representative role: ' + take('representative_role') + '. ' + take('representation_authority'),\n  'Power of Attorney handling: ' + take('poa_speech_rule'),\n  'Reason for call: ' + take('reason_for_call'),\n  'Main question: ' + take('main_question'),\n  'Desired outcome: ' + take('desired_outcome'),\n  'Tax and authority references available if asked:',\n  take('tax_reference_summary'),\n  'Direct startup context:',\n  plainStartupLines.join(String.fromCharCode(10)),\n  'For tax registrations, tax filings, contracts, correspondence, bank accounts, tax payments/prepayments, assets, or call notes, use lookup_call_context with a specific allowed category and focused query before guessing.',\n  'Use lookup results privately. Never mention Notion, n8n, tools, internal database names, source labels, Slack, workflow state, JSON, or debug details to the authority.',\n  'Call handling: spell abbreviations letter by letter. Speak numbers, registration numbers, tax references, and alphanumeric identifiers much slower than normal speech, in tiny chunks with clear pauses.',\n].filter(Boolean).map(asciiText).filter(Boolean).join(String.fromCharCode(10)).slice(0, 6000);\nconst keep = [\n  'language',\n  'caller_name',\n  'representative_entity',\n  'represented_subject',\n  'representative_role',\n  'representation_authority',\n  'poa_speech_rule',\n  'company',\n  'individual',\n  'contact',\n  'reason_for_call',\n  'main_question',\n  'desired_outcome',\n  'message_topic',\n  'owner_name',\n  'owner_role',\n  'owner_mention',\n  'owner_slack_member_id',\n  'poa_required',\n  'poa_validated',\n  'poa_subject',\n  'subject',\n  'call_url',\n  'call_id',\n  'call_public_id',\n  'live_help_request_id',\n  'live_help_slack_thread_ts',\n  'live_help_note_page_id',\n  'live_help_expires_at',\n  'live_help_status',\n  'live_help_answer',\n  'tax_reference_summary',\n];\nconst minimal = {};\nfor (const name of keep) minimal[name] = take(name);\nminimal.lookup_allowed_categories = lookupAllowedCategories.join(', ');\nminimal.context_pack = startupBrief;\nminimal.company_context_json = JSON.stringify(companyJson);\nminimal.individual_context_json = JSON.stringify(individualJson);\nminimal.contact_context_json = JSON.stringify(contactJson);\nminimal.tax_registration_context_json = JSON.stringify(taxRegistrationContext);\nclientData.dynamic_variables = minimal;\nbody.conversation_initiation_client_data = clientData;\npayload.elevenlabs_body = body;\npayload.context_pack_text = startupBrief.slice(0, 6000);\npayload.startup_context_policy = 'direct_subject_json_with_on_demand_notion_lookup';\npayload.startup_dynamic_variable_names = Object.keys(minimal).sort().join(', ');\npayload.startup_dynamic_variable_count = Object.keys(minimal).length;\npayload.linked_records_sent_count = 0;\npayload.linked_records_raw_count = 0;\nreturn payload;"
            }
          },
          {
            "id": "de3821ac-8ce6-463b-9278-93341427a1c4",
            "name": "Ready To Call?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
              5104,
              -256
            ],
            "parameters": {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ready",
                    "leftValue": "={{ $json.ready }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "options": {}
            }
          },
          {
            "id": "bc038f29-fb60-4a2a-822a-66d21f0a6054",
            "name": "Make ElevenLabs Outbound Call",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
              5376,
              -400
            ],
            "parameters": {
              "method": "POST",
              "url": "https://api.elevenlabs.io/v1/convai/twilio/outbound-call",
              "authentication": "predefinedCredentialType",
              "nodeCredentialType": "elevenLabsApi",
              "sendHeaders": true,
              "headerParameters": {
                "parameters": [
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  }
                ]
              },
              "sendBody": true,
              "specifyBody": "json",
              "jsonBody": "={{ $(\"Limit Startup Context\").item.json.elevenlabs_body }}",
              "options": {
                "response": {
                  "response": {
                    "fullResponse": true,
                    "neverError": true,
                    "responseFormat": "json"
                  }
                },
                "timeout": 30000
              }
            }
          },
          {
            "id": "c6b90317-f489-47e6-b654-f2e66d8accc1",
            "name": "Normalize ElevenLabs Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              5664,
              -400
            ],
            "parameters": {
              "mode": "runOnceForEachItem",
              "language": "javaScript",
              "jsCode": "const payload = $('Limit Startup Context').item.json;\nconst response = $json || {};\nlet body = response.body !== undefined ? response.body : response;\nif (typeof body === 'string') { try { body = JSON.parse(body); } catch (error) { body = { raw: body }; } }\nfunction firstString(paths) { for (const value of paths) { if (value !== undefined && value !== null && String(value).trim()) return String(value).trim(); } return ''; }\nconst statusCode = Number(response.statusCode || response.status || response.response?.statusCode || 0);\nconst conversationId = firstString([body.conversation_id, body.conversationId, body.conversation?.id, body.data?.conversation_id, body.data?.conversationId]);\nconst twilioCallSid = firstString([body.callSid, body.call_sid, body.twilio_call_sid, body.sip_call_id, body.sipCallId, body.data?.callSid, body.data?.call_sid]);\nconst httpFailed = statusCode >= 400;\nconst successFlag = body.success === true || body.status === 'success' || body.ok === true;\nconst returnedCallReference = Boolean(conversationId || twilioCallSid);\nconst callStarted = !httpFailed && (successFlag || returnedCallReference);\nconst errorSummary = callStarted ? '' : JSON.stringify({ statusCode: statusCode || 'unknown', body }).slice(0, 1900);\nreturn { ...payload, elevenlabs_status_code: statusCode || '', elevenlabs_success: callStarted, call_status: callStarted ? 'Call Started' : 'Call Unanswered', elevenlabs_conversation_id: conversationId, twilio_call_sid: twilioCallSid, voice_error: errorSummary, response_body_excerpt: JSON.stringify(body).slice(0, 1900) };"
            }
          },
          {
            "id": "d816664d-4459-42ed-a0f3-07914815d849",
            "name": "Store Voice IDs",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              5936,
              -400
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "update",
              "pageId": {
                "__rl": true,
                "value": "={{ $(\"Normalize ElevenLabs Response\").item.json.call_page_id }}",
                "mode": "id"
              },
              "simple": false,
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "Call Status|status",
                    "statusValue": "={{ $(\"Normalize ElevenLabs Response\").item.json.call_status }}"
                  },
                  {
                    "key": "ElevenLabs Conversation ID|rich_text",
                    "textContent": "={{ $(\"Normalize ElevenLabs Response\").item.json.elevenlabs_conversation_id }}"
                  },
                  {
                    "key": "Twilio Call SID|rich_text",
                    "textContent": "={{ $(\"Normalize ElevenLabs Response\").item.json.twilio_call_sid }}"
                  },
                  {
                    "key": "Voice Error|rich_text",
                    "textContent": "={{ $(\"Normalize ElevenLabs Response\").item.json.voice_error }}"
                  }
                ]
              },
              "options": {}
            }
          },
          {
            "id": "e59c1b6a-cd52-4210-b0e4-60bece9ccdad",
            "name": "Loop Reviewed Calls",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
              -624,
              0
            ],
            "parameters": {
              "options": {}
            }
          },
          {
            "id": "b032c0da-f948-40e1-a8e9-a6fd4f60d828",
            "name": "Mark Blocked",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              5376,
              -80
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "update",
              "pageId": {
                "__rl": true,
                "value": "={{ $json.call_page_id }}",
                "mode": "id"
              },
              "simple": false,
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "Call Status|status",
                    "statusValue": "={{ $json.blocked_status }}"
                  },
                  {
                    "key": "Voice Error|rich_text",
                    "textContent": "={{ $json.blocked_reason }}"
                  },
                  {
                    "key": "Context Pack|rich_text",
                    "textContent": "={{ $json.context_pack_text }}"
                  }
                ]
              },
              "options": {}
            }
          },
          {
            "id": "422db565-db8b-456b-ac6e-7f59e9653c07",
            "name": "Skip Lost Lock",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
              1776,
              80
            ],
            "parameters": {}
          },
          {
            "id": "dba7b382-0f71-4ecb-a5f4-7a0e04166d65",
            "name": "Skip Existing Lock Or Ineligible?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
              672,
              272
            ],
            "parameters": {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "skip-call",
                    "leftValue": "={{ $json.skip_call }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "options": {}
            }
          },
          {
            "id": "bc3a1574-864c-4dd6-b3df-e6997df64f68",
            "name": "Skip Locked Or Ineligible Call",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
              960,
              160
            ],
            "parameters": {}
          },
          {
            "id": "9f911892-28e4-4a18-9128-bd769729df97",
            "name": "Mark Preflight Blocked",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.2,
            "position": [
              960,
              368
            ],
            "parameters": {
              "resource": "databasePage",
              "operation": "update",
              "pageId": {
                "__rl": true,
                "value": "={{ $json.call_page_id }}",
                "mode": "id"
              },
              "simple": false,
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "Call Status|status",
                    "statusValue": "={{ $json.preflight_blocked_status }}"
                  },
                  {
                    "key": "Voice Error|rich_text",
                    "textContent": "={{ $json.preflight_reason }}"
                  }
                ]
              },
              "options": {}
            }
          }
        ],
        "connections": {
          "Every 15 minutes": {
            "main": [
              [
                {
                  "node": "Get Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Reviewed Calls": {
            "main": [
              [
                {
                  "node": "Loop Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Preflight Call Lock": {
            "main": [
              [
                {
                  "node": "Get Call Owner",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Call Owner": {
            "main": [
              [
                {
                  "node": "Attach Owner Routing",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Attach Owner Routing": {
            "main": [
              [
                {
                  "node": "Preflight Ready To Claim?",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Preflight Ready To Claim?": {
            "main": [
              [
                {
                  "node": "Claim Call Attempt Lock",
                  "type": "main",
                  "index": 0
                }
              ],
              [
                {
                  "node": "Skip Existing Lock Or Ineligible?",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Claim Call Attempt Lock": {
            "main": [
              [
                {
                  "node": "Re-read Call Lock",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Re-read Call Lock": {
            "main": [
              [
                {
                  "node": "Verify Claimed Lock",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Verify Claimed Lock": {
            "main": [
              [
                {
                  "node": "Lock Still Ours?",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Lock Still Ours?": {
            "main": [
              [
                {
                  "node": "Get Company",
                  "type": "main",
                  "index": 0
                }
              ],
              [
                {
                  "node": "Skip Lost Lock",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Company": {
            "main": [
              [
                {
                  "node": "Get Individual",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Individual": {
            "main": [
              [
                {
                  "node": "Get Contact",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Contact": {
            "main": [
              [
                {
                  "node": "Get Filing Registrations",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Get Filing Registrations": {
            "main": [
              [
                {
                  "node": "Build Voice Payload",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Build Voice Payload": {
            "main": [
              [
                {
                  "node": "Limit Startup Context",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Limit Startup Context": {
            "main": [
              [
                {
                  "node": "Ready To Call?",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Ready To Call?": {
            "main": [
              [
                {
                  "node": "Make ElevenLabs Outbound Call",
                  "type": "main",
                  "index": 0
                }
              ],
              [
                {
                  "node": "Mark Blocked",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Make ElevenLabs Outbound Call": {
            "main": [
              [
                {
                  "node": "Normalize ElevenLabs Response",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Normalize ElevenLabs Response": {
            "main": [
              [
                {
                  "node": "Store Voice IDs",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Store Voice IDs": {
            "main": [
              [
                {
                  "node": "Loop Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Loop Reviewed Calls": {
            "main": [
              [
                {
                  "node": "Done",
                  "type": "main",
                  "index": 0
                }
              ],
              [
                {
                  "node": "Preflight Call Lock",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Mark Blocked": {
            "main": [
              [
                {
                  "node": "Loop Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Skip Lost Lock": {
            "main": [
              [
                {
                  "node": "Loop Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Skip Existing Lock Or Ineligible?": {
            "main": [
              [
                {
                  "node": "Skip Locked Or Ineligible Call",
                  "type": "main",
                  "index": 0
                }
              ],
              [
                {
                  "node": "Mark Preflight Blocked",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Skip Locked Or Ineligible Call": {
            "main": [
              [
                {
                  "node": "Loop Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          },
          "Mark Preflight Blocked": {
            "main": [
              [
                {
                  "node": "Loop Reviewed Calls",
                  "type": "main",
                  "index": 0
                }
              ]
            ]
          }
        }
      },
      "tags": [],
      "meta": {
        "aiBuilderAssisted": true
      },
      "parentFolderId": null,
      "description": "Set ElevenLabs outbound call language override from contact language.",
      "scopes": [
        "workflow:create",
        "workflow:delete",
        "workflow:execute",
        "workflow:execute-chat",
        "workflow:list",
        "workflow:move",
        "workflow:publish",
        "workflow:read",
        "workflow:share",
        "workflow:unpublish",
        "workflow:unshare",
        "workflow:update",
        "workflow:updateRedactionSetting"
      ],
      "canExecute": true
    },
    "triggerInfo": "This workflow has the following trigger(s):\n\n\nSchedule trigger(s):\n\n\n\t\t\t\t<trigger 1>\n\t\t\t\t\t - Node name: Every 15 minutes\n\t\t\t\t</trigger 1>\n\nScheduled workflows can be executed directly through MCP clients and do not require external inputs."
  }
}
